html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: "ff-tisa-sans-web-pro", arial, sans-serif;
  background-color: #FAFAFA;
  font-size: 1rem;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

.base-list, .banner__list, .nav__links-list, .nav__icons-list, .footer__list, .mobile-menu__list, .basket__list, .faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  background-image: url("../images/background_pattern_grey.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 75px;
}

main.index {
  padding-top: 0;
  margin-top: 0;
}

main.products-overview {
  padding-top: 0;
}

.loader {
  border: 10px solid #323232;
  border-top: 10px solid #be402a;
  margin: 0 auto;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin-top: 1rem;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

hr {
  color: #d9d9d9;
}

.red-line {
  width: 150px;
  height: 3px;
  background-color: #be402a;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  .red-line {
    height: 4px;
  }
}

#section-frame {
  border: 3px solid #0E6673;
  border-radius: 5px;
  margin-top: 3rem;
  padding: 1rem 2rem;
  color: #0E6673;
}

.base-container, .nav__container, .footer__container, .news {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .base-container, .nav__container, .footer__container, .news {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .base-container, .nav__container, .footer__container, .news {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .base-container, .nav__container, .footer__container, .news {
    width: 80%;
  }
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .nav__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__container {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

@media (min-width: 992px) {
  .news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.details-container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .details-container {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .details-container {
    width: 90%;
  }
}

.basket {
  width: 95%;
  margin: 0 auto 2rem auto;
}

@media (min-width: 768px) {
  .basket {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .basket {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .basket {
    width: 85%;
  }
}

@media (min-width: 1400px) {
  .basket {
    width: 75%;
  }
}

.basket__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .basket__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .basket__wrapper {
    gap: 4rem;
  }
}

@media (min-width: 1400px) {
  .basket__wrapper {
    gap: 6rem;
  }
}

.featured {
  padding-top: 50px;
}

.grid-wrapper {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .grid-wrapper {
    width: 632px;
  }
}

@media (min-width: 1200px) {
  .grid-wrapper {
    width: 964px;
  }
}

@media (min-width: 1400px) {
  .grid-wrapper {
    width: 1296px;
  }
}

.featured__grid {
  width: 300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  gap: 32px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .featured__grid {
    width: 632px;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 1200px) {
  .featured__grid {
    width: 964px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1400px) {
  .featured__grid {
    width: 1296px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

.products__grid {
  width: 300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  gap: 32px;
}

@media (min-width: 768px) {
  .products__grid {
    width: 632px;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 1200px) {
  .products__grid {
    width: 964px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1400px) {
  .products__grid {
    width: 1296px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

.about,
.faq,
.returns,
.sizes,
.contact,
.location {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 768px) {
  .about,
  .faq,
  .returns,
  .sizes,
  .contact,
  .location {
    width: 85%;
  }
}

.about-page-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .about-page-wrapper {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .about-page-wrapper {
    width: 70%;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
  }
}

@media (min-width: 1200px) {
  .about-page-wrapper {
    width: 65%;
  }
}

@media (min-width: 1400px) {
  .about-page-wrapper {
    width: 55%;
  }
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1400px) {
  .contact-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    width: 85%;
  }
}

.add,
.edit {
  margin: 0 auto;
  width: 100%;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .add,
  .edit {
    width: 85%;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
  }
}

@media (min-width: 992px) {
  .add,
  .edit {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .add,
  .edit {
    width: 65%;
  }
}

@media (min-width: 1400px) {
  .add,
  .edit {
    width: 55%;
  }
}

.add__container,
.edit__container {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.add__container,
.edit__container {
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 576px) {
  .add__container,
  .edit__container {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .add__container,
  .edit__container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .add__container,
  .edit__container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .add__container,
  .edit__container {
    width: 75%;
  }
}

@media (min-width: 1400px) {
  .add__container,
  .edit__container {
    width: 70%;
  }
}

.details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .details__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    margin: 0 auto;
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .details__container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .details__container {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .details__container {
    width: 80%;
  }
}

.newsletter__container {
  background-color: #000000bf;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .newsletter__container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .newsletter__container {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .newsletter__container {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .newsletter__container {
    width: 40%;
  }
}

.contact__sub-wrapper {
  margin-bottom: 1.5rem;
}

.contact__sub-wrapper:last-child {
  margin-bottom: 0;
}

strong {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.hero__heading-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.hero__heading {
  font-family: "futura pt", tahoma, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
}

@media (min-width: 992px) {
  .hero__heading {
    font-size: 5.5rem;
  }
}

.hero__heading-secondary {
  font-family: "futura pt", tahoma, sans-serif;
  font-size: 1.375rem;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-style: oblique;
  font-weight: 400;
}

@media (min-width: 992px) {
  .hero__heading-secondary {
    font-size: 1.75rem;
  }
}

.hero__tagline {
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .hero__tagline {
    font-size: 1.375rem;
  }
}

.featured__heading {
  font-family: "soleil", tahoma, sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  .featured__heading {
    font-size: 2.25rem;
  }
}

.products__heading,
.add__heading,
.edit__heading,
.about__heading,
.basket__heading {
  font-family: "soleil", tahoma, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .products__heading,
  .add__heading,
  .edit__heading,
  .about__heading,
  .basket__heading {
    font-size: 2.5rem;
  }
}

.add__list,
.edit__list {
  margin: 0;
  padding-left: 1.5rem;
}

.edit__list-text,
.add__list-text {
  font-size: 1.125rem;
  margin: 0;
  padding: 0.25rem 0;
}

.basket__title {
  font-size: 1rem;
  margin: 0 0 0.25rem 0;
  padding: 0;
}

@media (min-width: 576px) {
  .basket__title {
    font-size: 1.125rem;
  }
}

.summary__heading {
  margin: 0;
  padding-bottom: 1rem;
}

.card__title,
.card__price {
  font-size: 1.125rem;
  font-family: "soleil", tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.card__text {
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 300;
  margin: 0;
  padding: 0.5rem 0 0 0;
}

.card__icon-container {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #d9d9d9;
  position: relative;
}

.news__header {
  font-family: "soleil", tahoma, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .news__header {
    font-size: 1.75rem;
  }
}

.news__text {
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-size: 1rem;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .news__text {
    font-size: 1.125rem;
  }
}

.newsletter__heading {
  font-family: "soleil", tahoma, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .newsletter__heading {
    font-size: 1.5rem;
  }
}

.newsletter__description {
  font-size: 1rem;
  font-family: "ff-tisa-web-pro", georgia, serif;
  padding: 0.5rem 0 1.5rem 0;
  margin: 0;
}

@media (min-width: 768px) {
  .newsletter__description {
    font-size: 1.125rem;
  }
}

.details__title {
  font-family: "soleil", tahoma, sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 0.5rem;
}

@media (min-width: 576px) {
  .details__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 992px) {
  .details__title {
    font-size: 1.75rem;
  }
}

.details__price {
  font-family: "soleil", tahoma, sans-serif;
  font-size: 1.375rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .details__price {
    font-size: 1.5rem;
  }
}

.details__label {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 100px;
}

@media (min-width: 992px) {
  .details__label {
    width: auto;
  }
}

.details__stock-label {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.details__value {
  margin: 0;
}

.details__sub-heading {
  font-family: "soleil", tahoma, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.details__text {
  margin-top: 0;
  padding: 0;
  display: none;
}

@media (min-width: 992px) {
  .details__text {
    display: block;
  }
}

.about__heading-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__sub-heading {
  font-size: 1.125rem;
  margin: 0;
  font-family: "ff-tisa-web-pro", georgia, serif;
}

@media (min-width: 992px) {
  .about__sub-heading {
    font-size: 1.375rem;
  }
}

.about__card-quote {
  margin: 0;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-style: italic;
  max-width: 400px;
  font-size: 1.125rem;
}

.contact__heading,
.faq__heading,
.returns__heading,
.sizes__heading {
  font-family: "soleil", tahoma, sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .contact__heading,
  .faq__heading,
  .returns__heading,
  .sizes__heading {
    font-size: 2.25rem;
  }
}

.contact__sub-heading {
  font-size: 1.125rem;
  margin: 0;
  padding-bottom: 0.35rem;
}

.contact__paragraph {
  margin: 0;
  padding: 0;
}

.contact__paragraph--bold {
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0.25rem 0;
}

.contact__heading,
.faq__heading,
.returns__heading,
.sizes__heading {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .contact__heading,
  .faq__heading,
  .returns__heading,
  .sizes__heading {
    font-size: 1.875rem;
  }
}

.footer__header {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 1rem 0;
}

.footer__icon {
  font-size: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}

label {
  color: #000000;
}

.admin__heading {
  color: #000000;
  font-family: "soleil", tahoma, sans-serif;
  font-size: 1.875rem;
  margin: 0;
  padding: 0;
}

.add__radio-heading,
.edit__radio-heading,
.add__list-heading,
.edit__list-heading {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  border-radius: 5px;
  font-weight: bold;
}

#item-count {
  font-size: 1.5rem;
}

.button-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-style: italic;
  color: #159e4a;
}

svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

svg path {
  fill: black;
}

i {
  cursor: pointer;
}

.search__icon {
  position: absolute;
  top: 68%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.5rem;
  height: 32px;
  width: 32px;
}

.nav__icon {
  margin-left: 2rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.nav__icon:hover {
  opacity: 0.75;
}

.basket__icon {
  margin-left: 0;
}

.card__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__icon path {
  fill: #323232;
}

.out-of-stock {
  background-color: #ed553b;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.in-stock {
  background-color: #159e4a;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.basket__remove-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.about__card-icon {
  position: absolute;
  background-color: #be402a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .about__card-icon {
    left: 1.5rem;
    top: 0.5rem;
  }
}

.about__card-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fa-plus, .fa-minus {
  color: black;
  font-size: 1.125rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

@media (min-width: 992px) {
  .fa-plus, .fa-minus {
    visibility: hidden;
  }
}

.fa-plus-square, .fa-minus-square {
  color: #000000;
  font-size: 1.25rem;
}

.footer__icon {
  color: #ffffff;
}

#basket {
  position: relative;
}

#counter-container {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 27px;
  background-color: #be402a;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 9;
  font-family: "proxima nova", verdana, sans-serif;
  display: none;
}

#counter-number {
  position: absolute;
  line-height: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes shake-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  1.78571% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  3.57143% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5.35714% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  7.14286% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8.92857% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  10.71429% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes shake-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  1.78571% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  3.57143% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5.35714% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  7.14286% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8.92857% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  10.71429% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.animation {
  -webkit-animation: shake-animation 5s ease;
          animation: shake-animation 5s ease;
}

.nav__logo {
  width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 0.25rem;
}

@media (min-width: 992px) {
  .nav__logo {
    width: 200px;
    margin-right: 3rem;
    margin-bottom: 0;
  }
}

.news__image {
  display: block;
  width: 100%;
}

.products-banner {
  background-image: url("../images/products-banner.jpg");
  background-size: cover;
  background-position: bottom right;
  height: 450px;
}

.card__image-container {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card__image {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.details__image {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.basket__image {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}

.about__image {
  display: block;
  width: 200px;
  margin: 0;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .about__image {
    width: 200px;
    border-radius: 5px 0 0 5px;
  }
}

header {
  margin: 0;
  color: #ffffff;
}

.banner {
  background-color: #323232;
  margin: 0;
  text-align: center;
  padding: 0.625rem;
}

.banner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
}

@media (min-width: 992px) {
  .banner__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1rem;
  }
}

.banner__item {
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
}

.banner__item--inactive {
  display: none;
}

@media (min-width: 992px) {
  .banner__item--inactive {
    display: block;
  }
}

.nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), color-stop(25%, #fafafa), color-stop(50%, #fafafa), to(#e6e6e6));
  background: linear-gradient(180deg, #e6e6e6 0%, #fafafa 25%, #fafafa 50%, #e6e6e6 100%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 999;
  position: relative;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.nav__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links-list {
  display: none;
  font-family: "ff-tisa-sans-web-pro", arial, sans-serif;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .nav__links-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__link {
  margin-right: 2rem;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #323232;
}

.nav__link--active {
  font-weight: bold;
  color: #000000;
}

.nav__link:hover {
  border-bottom: 3px solid #be402a;
}

.nav__icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .nav__icons-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero__container {
  height: 900px;
  margin: 0;
  position: relative;
  background-position: right bottom;
}

.hero__transparent-wrapper {
  width: 100%;
  position: absolute;
  display: block;
  top: 50px;
  background: transparent;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.65)), to(rgba(255, 255, 255, 0.65)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.65) 100%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

@media (min-width: 992px) {
  .hero__transparent-wrapper {
    top: 75px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.85)), color-stop(85%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0) 100%);
  }
}

@media (min-width: 1200px) {
  .hero__transparent-wrapper {
    top: 75px;
    padding-left: 10%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.85)), color-stop(75%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  }
}

.hero__red-line {
  width: 200px;
  height: 4px;
  background-color: #be402a;
  margin: 0.5rem 0;
  padding: 0;
}

.card__container {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .card__container:hover {
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
    scale: 1.05;
  }
}

.remove-card {
  display: none;
}

.card {
  display: block;
  height: 440px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
  padding-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.card__body {
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
}

.card__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__admin {
  border-bottom: none;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 700px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .about__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
  }
}

.about__card-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .about__card-wrapper {
    font-size: 1.125rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
  }
}

.about__card-quote {
  margin: 0;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-style: italic;
  max-width: 400px;
  font-size: 1.125rem;
}

.about__card-name {
  margin: 0 auto;
  padding-top: 1rem;
  font-weight: bold;
}

@media (min-width: 992px) {
  .about__card-name {
    font-size: 1.125rem;
  }
}

.details__card {
  padding: 2rem 5% 3rem 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffffff;
}

@media (min-width: 576px) {
  .details__card {
    padding: 2rem 7.5% 3rem 7.5%;
  }
}

@media (min-width: 768px) {
  .details__card {
    padding: 2rem 12.5% 3rem 12.5%;
  }
}

@media (min-width: 992px) {
  .details__card {
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
  }
}

@media (min-width: 1400px) {
  .details__card {
    padding: 2rem 3rem 3rem 3rem;
  }
}

.details__block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .details__block-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3rem;
    margin-bottom: 2rem;
  }
}

.details__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.details__block2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .details__block2 {
    margin-top: 0;
  }
}

.details__value-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.details__value {
  margin: 0;
  padding: 0;
}

.details__heading-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.details__line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .details__line-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.details__stock-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  .details__title-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.newsletter {
  background-image: url("../images/asphalt-pattern.jpg");
  background-size: cover;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .newsletter {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.newsletter__wrapper {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 576px) {
  .newsletter__wrapper {
    width: 70%;
  }
}

.footer {
  background-color: #000000;
  color: #FAFAFA;
}

.footer__link {
  color: #ffffff;
  font-weight: 300;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #323232;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bdbdbd;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .footer-bottom__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}

.footer-bottom__pipe {
  display: none;
}

@media (min-width: 992px) {
  .footer-bottom__pipe {
    display: inline-block;
  }
}

.button {
  width: 200px;
  display: inline-block;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 50px;
  font-family: "proxima nova", verdana, sans-serif;
  font-weight: 400;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.hero__button {
  display: block;
  width: 200px;
  margin: 1rem 0 0 0;
  background-color: #be402a;
  font-size: 1.375rem;
}

@media (min-width: 992px) {
  .hero__button {
    font-size: 1.5rem;
  }
  .hero__button:hover {
    scale: 1.1;
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  }
}

.primary-button {
  background-color: #be402a;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .primary-button {
    font-size: 1.375rem;
  }
  .primary-button:hover {
    scale: 1.1;
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  }
}

.secondary-button {
  font-size: 1.25rem;
  background-color: #323232;
  color: #ffffff;
  margin-top: 1rem;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .secondary-button:hover {
    background-color: #be402a;
  }
}

.edit-button {
  display: block;
  width: 100%;
  background-color: #0E6673;
  color: #ffffff;
  display: block;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 0 0 5px 5px;
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 992px) {
  .edit-button:hover {
    background-color: #be402a;
    color: #ffffff;
  }
}

.edit-button--details {
  margin-top: 0;
  margin-bottom: 0.75rem;
  max-width: 150px;
  border-radius: 5px;
}

@media (min-width: 576px) {
  .edit-button--details {
    margin: 0;
  }
}

.update-button,
.add-button {
  width: 220px;
  background-color: #0E6673;
  margin-top: 1rem;
}

.delete-button {
  background-color: transparent;
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: bold;
  border: 3px solid #ed553b;
  border-radius: 5px;
  color: #ed553b;
  padding: 0.5rem 0.75rem;
}

@media (min-width: 992px) {
  .delete-button:hover {
    background-color: #ed553b;
    color: #ffffff;
  }
}

.checkout-button {
  margin-top: 2rem;
  float: right;
}

#load-button {
  display: block;
  margin: 4rem auto 0 auto;
  width: 260px;
}

#buy-button {
  width: 250px;
  margin-top: 0.25rem;
}

.add-to-basket {
  background-color: #be402a;
}

.remove-from-basket {
  background-color: transparent;
  border: 3px solid #be402a;
  color: #be402a;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 992px) {
  .remove-from-basket:hover {
    scale: 1;
    background-color: #be402a;
    color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.disabled {
  background-color: grey;
  pointer-events: none;
  cursor: default;
}

@media (min-width: 992px) {
  .disabled:hover {
    scale: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.input {
  padding: 0.5rem 1rem;
  font-family: "ff-tisa-sans-web-pro", arial, sans-serif;
  font-size: 1.125rem;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.input:focus {
  background-color: #ffffff;
}

input[type="radio"] {
  cursor: pointer;
}

textarea {
  font-family: "ff-tisa-sans-web-pro", arial, sans-serif;
  font-size: 1rem;
}

label {
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.label-light {
  font-weight: normal;
}

.newsletter__label {
  color: #ffffff;
}

.radio-label {
  padding-bottom: 0;
  padding-top: 5px;
}

select {
  background-color: #FAFAFA;
  margin-top: 0.35rem;
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

#quantity,
#size {
  width: 4rem;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.newsletter__input-wrapper {
  max-width: 350px;
}

.newsletter__input {
  margin: 0;
  width: 100%;
}

.search__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .search__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search__form {
  position: relative;
}

.search__input {
  width: 100%;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.admin__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.admin__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin__input {
  width: 100%;
  max-width: 350px;
}

.add__input-wrapper,
.edit__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem auto;
}

.add__input,
.edit__input {
  width: 100%;
  font-size: 1rem;
}

.add__input-prefix-wrapper,
.edit__input-prefix-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add__input-prefix,
.edit__input-prefix {
  font-size: 1rem;
  background-color: #323232;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-left: 1px solid #323232;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
  border-radius: 5px 0 0 5px;
}

.add__radio-wrapper,
.edit__radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.add__radio-flex,
.edit__radio-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

#short-description {
  height: 100px;
}

#description {
  height: 250px;
}

#product-image {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

#price {
  width: 120px;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.admin {
  position: relative;
}

.admin__container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .admin__container {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .admin__container {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .admin__container {
    width: 85%;
  }
}

.admin__dropdown {
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), color-stop(50%, #fafafa), to(#e6e6e6));
  background: linear-gradient(180deg, #e6e6e6 0%, #fafafa 50%, #e6e6e6 100%);
  top: 126px;
  right: 0;
  gap: 1rem;
  z-index: -1;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-radius: 0 0 0 5px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: none;
  -webkit-animation: animate-dropdown 400ms ease-in-out forwards;
          animation: animate-dropdown 400ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes animate-dropdown {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate-dropdown {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 992px) {
  .admin__dropdown {
    width: 600px;
    top: 85px;
  }
}

.mobile-menu {
  display: none;
}

@media (min-width: 992px) {
  .mobile-menu {
    display: none !important;
  }
}

.mobile-menu__list {
  margin-top: 1rem;
  margin-left: 7.5%;
}

.mobile-menu__item {
  font-family: "proxima nova", verdana, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mobile-menu__toggle {
  margin-left: 0;
}

@media (min-width: 992px) {
  .mobile-menu__toggle {
    display: none !important;
  }
}

.alert-container {
  margin-top: 1rem;
}

.newsletter__success {
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #159e4a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.alert {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: black;
  font-size: 1.125rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.error {
  background-color: #ed553b;
  color: white;
}

.success {
  background-color: #159e4a;
  color: white;
}

.warning {
  background-color: #ffdd48;
}

.error-messages {
  color: #ed553b;
  display: none;
  padding-top: 0.25rem;
}

.basket-main {
  height: 100%;
}

.basket__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.basket__list {
  display: block;
  margin-bottom: 1rem;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .basket__list {
    border-radius: 5px;
    border: 1px solid #d9d9d9;
  }
}

.basket__list--empty {
  font-size: 1.25rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  gap: 1rem;
}

@media (min-width: 576px) {
  .basket__item {
    gap: 2rem;
  }
}

.basket__item:last-child {
  border-radius: 0 0 5px 5px;
  margin-bottom: 0;
}

.basket__item:first-child {
  margin-top: 0;
  border-radius: 5px;
}

.basket__link {
  text-decoration: underline;
  cursor: pointer;
}

.basket__content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.basket__table {
  width: 100%;
  font-size: 0.875rem;
}

@media (min-width: 576px) {
  .basket__table {
    font-size: 1rem;
  }
}

.basket__table-heading {
  width: 100px;
}

@media (min-width: 576px) {
  .basket__table-heading {
    width: 150px;
  }
}

.basket__emtpy {
  background-color: white;
}

.summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .summary {
    max-height: 350px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
  }
}

.summary__table {
  text-align: left;
  width: 100%;
  font-size: 1.12rem;
  border-collapse: collapse;
}

.summary__table-data {
  text-align: right;
}

.summary__button-wrapper {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#order-total {
  font-size: 1.25rem;
  border-top: 1px solid black;
}

#order-total > td {
  padding-top: 0.5rem;
}

#shipping > td {
  padding-bottom: 1rem;
}

#total {
  display: none;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

@media (min-width: 992px) {
  .news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news__block1 {
  background-color: white;
  color: black;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 992px) {
  .news__block1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background: #584f4f;
    background: radial-gradient(circle, #584f4f 0%, black 100%);
    color: white;
  }
}

.news__block2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 992px) {
  .news__block2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.news__text-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0 2.5rem 0;
}

@media (min-width: 992px) {
  .news__text-wrapper {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0;
  }
}

.faq__question {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.faq__a-container {
  margin-top: 0.5rem;
}

.faq__answer {
  display: none;
}

.faq__answer--display {
  list-style: none;
  list-style: block;
  font-weight: bold;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  padding: 0;
}

.location__map {
  width: 300px;
  height: 200px;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

@media (min-width: 768px) {
  .location__map {
    width: 375px;
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */