html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  background-color: #fafafa;
  font-size: 1rem;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

.base-list, .banner__list, .nav__links-list, .nav__icons-list, .footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  background-image: url("../images/background_pattern.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 100px;
}

main.index {
  padding-top: 0;
}

main.products-overview {
  padding-top: 0;
}

.loader {
  border: 10px solid #323232;
  border-top: 10px solid #ea564e;
  margin: 0 auto;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.remove-card {
  display: none;
}

hr {
  color: #bdbdbd;
}

.faq__item {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.base-container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .base-container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .base-container {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .base-container {
    width: 80%;
  }
}

.details-container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .details-container {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .details-container {
    width: 90%;
  }
}

.basket-container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .basket-container {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .basket-container {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .basket-container {
    width: 85%;
  }
}

@media (min-width: 1400px) {
  .basket-container {
    width: 80%;
  }
}

.featured {
  padding-top: 50px;
}

.grid-wrapper {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .grid-wrapper {
    width: 632px;
  }
}

@media (min-width: 1200px) {
  .grid-wrapper {
    width: 964px;
  }
}

@media (min-width: 1400px) {
  .grid-wrapper {
    width: 1296px;
  }
}

.featured__grid {
  width: 300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  gap: 32px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .featured__grid {
    width: 632px;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 1200px) {
  .featured__grid {
    width: 964px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1400px) {
  .featured__grid {
    width: 1296px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

.products__grid {
  width: 300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  gap: 32px;
}

@media (min-width: 768px) {
  .products__grid {
    width: 632px;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 1200px) {
  .products__grid {
    width: 964px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1400px) {
  .products__grid {
    width: 1296px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

.about,
.faq,
.contact,
.location {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 768px) {
  .about,
  .faq,
  .contact,
  .location {
    width: 85%;
  }
}

.about-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .about-wrapper {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .about-wrapper {
    width: 70%;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
  }
}

@media (min-width: 1200px) {
  .about-wrapper {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .about-wrapper {
    width: 55%;
  }
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1400px) {
  .contact-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    width: 85%;
  }
}

.add,
.edit {
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .add,
  .edit {
    width: 85%;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
  }
}

@media (min-width: 992px) {
  .add,
  .edit {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .add,
  .edit {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .add,
  .edit {
    width: 55%;
  }
}

.add__container,
.edit__container {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .details__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    margin: 0 auto;
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .details__container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .details__container {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .details__container {
    width: 80%;
  }
}

hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  hgroup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

strong {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.hero__heading {
  font-family: "soleil", sans-serif;
  font-size: 3.75rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .hero__heading {
    font-size: 5.5rem;
    line-height: 1.2;
  }
}

.hero__heading-support {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-style: oblique;
  font-weight: 300;
}

@media (min-width: 992px) {
  .hero__heading-support {
    font-size: 1.75rem;
  }
}

.hero__tagline {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .hero__tagline {
    font-size: 1.5rem;
  }
}

.featured__heading {
  font-family: "soleil", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.products__heading,
.add__heading,
.edit__heading,
.about__heading,
.contact__heading,
.faq__heading,
.basket__heading {
  font-family: "soleil", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.basket__title {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.summary__heading {
  margin: 0;
  padding-bottom: 1rem;
}

.card__title,
.card__price {
  font-size: 1.125rem;
  font-family: "soleil", sans-serif;
  margin: 0;
  padding: 0;
}

.card__text {
  font-weight: 300;
  margin: 0;
  padding: 1rem 0 0 0;
}

.cross {
  width: 30px;
  height: 30px;
}

.cross path {
  fill: #ed553b;
}

.newsletter__heading {
  font-family: "soleil", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.newsletter__description {
  font-size: 1.125rem;
  font-family: "ff-tisa-web-pro", serif;
  padding: 0.5rem 0 2rem 0;
  margin: 0;
}

.news__header {
  font-family: "soleil", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.news__text {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1.125rem;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}

.details__title {
  font-family: "soleil", sans-serif;
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 576px) {
  .details__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.details__price {
  font-family: "soleil", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.details__label {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 100px;
}

@media (min-width: 992px) {
  .details__label {
    width: auto;
  }
}

.details__stock-label {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.details__value {
  margin: 0;
}

.details__sub-heading {
  font-family: "soleil", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: underline;
  margin: 0;
  padding: 0 0 0.25rem 0;
}

.details__text {
  margin-top: 0.5rem;
}

.footer__header {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 1rem 0;
}

.footer__icon {
  font-size: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}

label {
  color: #000000;
}

.admin__heading {
  color: #000000;
  font-family: "soleil", sans-serif;
  font-size: 1.75rem;
  margin: 0;
  padding: 0 0 1rem 0;
}

.add__radio-heading,
.edit__radio-heading {
  margin: 0;
  padding-top: 1rem;
  font-size: 1.25rem;
  border-radius: 5px;
  font-weight: bold;
}

#item-count {
  font-size: 1.5rem;
}

i {
  color: #ffffff;
}

.about-small-heading {
  font-size: 1.125rem;
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.contact__paragraph {
  margin: 0;
}

.contact__paragraph--bold {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.about__sub-heading {
  margin: 0;
  font-family: "ff-tisa-web-pro", serif;
}

.contact__heading,
.faq__heading {
  font-size: 1.875rem;
  margin: 0;
  padding: 0;
}

.faq__list {
  padding-left: 1rem;
}

svg {
  width: 40px;
  height: 40px;
}

svg path {
  fill: black;
}

.search__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.5rem;
  height: 32px;
  width: 32px;
}

.nav__icon {
  margin-left: 2rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.nav__icon:hover {
  opacity: 0.75;
}

.basket__icon {
  margin-left: 0;
}

.card__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__icon path {
  fill: #000000;
}

.out-of-stock {
  background-color: #ed553b;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}

.in-stock {
  background-color: #00f6db;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}

.remove-icon {
  cursor: pointer;
}

.about__card-icon {
  position: absolute;
  background-color: #ea564e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .about__card-icon {
    left: 2rem;
    top: 1rem;
  }
}

.about__card-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__container {
  height: 900px;
  margin: 0;
  position: relative;
}

.products-banner {
  background-image: url("../images/products-banner.jpg");
  background-size: cover;
  background-position: bottom;
  height: 400px;
}

.about__image {
  display: block;
  width: 200px;
  margin: 0;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .about__image {
    width: 200px;
    border-radius: 5px 0 0 5px;
  }
}

.card__image {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.basket__image {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}

.nav__logo {
  width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 0.25rem;
}

@media (min-width: 992px) {
  .nav__logo {
    width: 200px;
    margin-right: 3rem;
    margin-bottom: 0;
  }
}

.location__map {
  width: 300px;
  height: 200px;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

@media (min-width: 768px) {
  .location__map {
    width: 375px;
    height: 250px;
  }
}

.details__image {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news__image {
  display: block;
  width: 100%;
}

header {
  margin: 0;
  color: #ffffff;
}

.banner {
  background-color: #323232;
  margin: 0;
  text-align: center;
  padding: 0.625rem;
}

.banner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
}

@media (min-width: 992px) {
  .banner__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1rem;
  }
}

.banner__item {
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
}

.banner__item--inactive {
  display: none;
}

@media (min-width: 992px) {
  .banner__item--inactive {
    display: block;
  }
}

.nav {
  background-color: #f0f0f0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 999;
  position: relative;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .nav__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links-list {
  display: none;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .nav__links-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__link {
  margin-right: 2rem;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #323232;
}

.nav__link--active {
  font-weight: bold;
  color: #000000;
}

.nav__link:hover {
  border-bottom: 3px solid #ea564e;
}

.nav__icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .nav__icons-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#basket {
  position: relative;
}

#counter {
  -webkit-animation: shake-animation 5s ease;
          animation: shake-animation 5s ease;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 27px;
  background-color: #ea564e;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 9;
  font-family: "proxima nova", sans-serif;
  display: none;
}

#counter div {
  position: absolute;
  line-height: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes shake-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  1.78571% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  3.57143% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5.35714% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  7.14286% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8.92857% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  10.71429% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes shake-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  1.78571% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  3.57143% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5.35714% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  7.14286% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8.92857% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  10.71429% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.hero__content {
  position: absolute;
  width: 100%;
  display: block;
  top: 25px;
  background-color: #ffffffa6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .hero__content {
    display: inline-block;
    top: 100px;
  }
}

.hero__content__content-container {
  width: 95%;
  margin: 0 auto;
}

.hero__red-line {
  width: 270px;
  height: 6px;
  background-color: #ea564e;
  margin: 0 auto;
}

.card {
  display: block;
  width: 300px;
  min-height: 410px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

.card:hover {
  -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  scale: 1.05;
}

.card__link {
  cursor: pointer;
}

.card__image-container {
  height: 240px;
}

.card__body {
  background-color: #ffffff;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 0 0 5px 5px;
  position: relative;
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__icon-container {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #ea564e;
  position: relative;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  max-width: 700px;
}

@media (min-width: 768px) {
  .about__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
  }
}

.about__card-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .about__card-wrapper {
    font-size: 1.125rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.about__card-quote {
  margin: 0;
  font-family: "ff-tisa-web-pro", serif;
  font-style: italic;
  max-width: 400px;
}

@media (min-width: 992px) {
  .about__card-quote {
    font-size: 1.125rem;
  }
}

.about__card-name {
  margin: 0 auto;
  padding-top: 1rem;
  font-weight: bold;
}

@media (min-width: 992px) {
  .about__card-name {
    font-size: 1.125rem;
  }
}

.details__card {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffffff;
}

@media (min-width: 992px) {
  .details__card {
    border-radius: 5px;
    border: 1px solid #bdbdbd;
  }
}

@media (min-width: 1400px) {
  .details__card {
    padding: 2rem 3rem;
  }
}

.details__block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .details__block-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3rem;
    margin-bottom: 2rem;
  }
}

.details__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.details__block2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.details__value-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.details__value {
  margin: 0;
  padding: 0;
}

.details__line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .details__line-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.details__stock-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  .details__title-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.newsletter {
  background-image: url("../images/asphalt-pattern.jpg");
  background-size: cover;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .newsletter {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.newsletter__container {
  background-color: #000000bf;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .newsletter__container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .newsletter__container {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .newsletter__container {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .newsletter__container {
    width: 40%;
  }
}

.newsletter__wrapper {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 576px) {
  .newsletter__wrapper {
    width: 70%;
  }
}

.footer {
  background-color: black;
  color: #fafafa;
}

.footer__container {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__link {
  color: #ffffff;
  font-weight: 300;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__bottom {
  background-color: #ffffff;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__pipe {
  display: none;
}

@media (min-width: 992px) {
  .footer__pipe {
    display: inline-block;
  }
}

.footer__bottom {
  background-color: #323232;
}

.footer-terms__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bdbdbd;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .footer-terms__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}

button {
  width: 200px;
}

.button {
  display: inline-block;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 50px;
  font-family: "proxima nova", sans-serif;
  text-align: center;
  font-size: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.primary-button,
.hero__button {
  background-color: #ea564e;
}

@media (min-width: 992px) {
  .primary-button:hover,
  .hero__button:hover {
    scale: 1.1;
    -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  }
}

.hero__button {
  display: block;
  width: 200px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

.secondary-button {
  font-size: 1.25rem;
  background-color: #000000;
  color: #ffffff;
  margin-top: 1rem;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .secondary-button:hover {
    background-color: #ea564e;
  }
}

.update-button {
  width: 220px;
  margin-top: 1rem;
}

.newsletter__button {
  width: 150px;
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#buy-button {
  margin-top: 0.25rem;
}

.checkout-button {
  margin-top: 2rem;
  float: right;
}

.delete-button {
  background-color: transparent;
  margin-top: 2rem;
  font-size: 1.125rem;
  border: 3px solid #ea564e;
  border-radius: 5px;
  color: #ea564e;
  padding: 0.5rem 0.75rem;
}

@media (min-width: 992px) {
  .delete-button:hover {
    background-color: #ea564e;
    color: #ffffff;
  }
}

.button-message {
  margin-bottom: 1rem;
}

.edit-button {
  margin-top: 0.75rem;
  background-color: #ea564e;
  color: #ffffff;
  display: block;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 5px;
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 992px) {
  .edit-button:hover {
    background-color: #323232;
  }
}

.details__edit-button {
  margin-top: 0;
  margin-bottom: 0.75rem;
  max-width: 150px;
}

@media (min-width: 576px) {
  .details__edit-button {
    margin: 0;
  }
}

#load-button {
  display: block;
  margin: 3rem auto 0 auto;
  width: 260px;
}

#buy-button {
  width: 250px;
}

.on {
  background-color: #ea564e;
}

.off {
  background-color: transparent;
  border: 3px solid #ea564e;
  color: #ea564e;
}

@media (min-width: 992px) {
  .off:hover {
    background-color: #ea564e;
    color: #ffffff;
  }
}

.button-message {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-style: italic;
}

.disabled {
  background-color: grey;
  pointer-events: none;
  cursor: default;
}

@media (min-width: 992px) {
  .disabled:hover {
    scale: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.input {
  padding: 0.5rem 1rem;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  font-size: 1.125rem;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

.input:focus {
  background-color: #ffffff;
}

input[type="radio"] {
  cursor: pointer;
}

label {
  padding-bottom: 0.25rem;
}

.radio-label {
  padding-bottom: 0;
  padding-top: 5px;
}

select {
  background-color: #fafafa;
  margin-top: 0.35rem;
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

#quantity, #size {
  width: 4rem;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.newsletter__input-wrapper {
  max-width: 350px;
}

.newsletter__input {
  margin: 0;
  width: 100%;
}

.search__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .search__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search__form {
  position: relative;
}

.search__input {
  width: 100%;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

.admin__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.admin__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin__input {
  width: 100%;
  max-width: 350px;
}

textarea {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}

#short-description {
  font-size: 1.125rem;
  height: 100px;
}

#description {
  font-size: 1.125rem;
  height: 250px;
}

.add__input-wrapper,
.edit__input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem auto;
}

@media (min-width: 576px) {
  .add__input-wrapper,
  .edit__input-wrapper {
    width: 90%;
  }
}

.add__radio-wrapper,
.edit__radio-wrapper {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 576px) {
  .add__radio-wrapper,
  .edit__radio-wrapper {
    width: 90%;
  }
}

.add__input,
.edit__input {
  width: 100%;
}

.add__input-prefix-wrapper,
.edit__input-prefix-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add__input-prefix,
.edit__input-prefix {
  font-size: 1.125rem;
  background-color: #323232;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-left: 1px solid #323232;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
  border-radius: 5px 0 0 5px;
}

#product-image {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

#price {
  width: 120px;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.add__radio-flex,
.edit__radio-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.admin {
  position: relative;
}

.admin__container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .admin__container {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .admin__container {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .admin__container {
    width: 85%;
  }
}

.admin__dropdown {
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(75%, #f0f0f0), to(#00c3c1));
  background: linear-gradient(#f0f0f0 0, #f0f0f0 75%, #00c3c1 100%);
  top: 163px;
  right: 0;
  gap: 1rem;
  z-index: -1;
  padding-top: 2rem;
  padding-bottom: 6rem;
  border-radius: 0 0 0 5px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: none;
  -webkit-animation: animate-dropdown 400ms ease-in-out forwards;
          animation: animate-dropdown 400ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes animate-dropdown {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate-dropdown {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 992px) {
  .admin__dropdown {
    top: 132px;
    width: 600px;
    top: 85px;
  }
}

.mobile-menu {
  display: none;
}

@media (min-width: 992px) {
  .mobile-menu {
    display: none !important;
  }
}

.mobile-menu__list {
  margin-top: 1rem;
  margin-left: 7.5%;
}

.mobile-menu__item {
  font-family: "proxima nova", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mobile-menu__toggle {
  margin-left: 0;
}

@media (min-width: 992px) {
  .mobile-menu__toggle {
    display: none !important;
  }
}

.newsletter__success {
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #00f6db;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.alert {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: black;
  font-size: 1.125rem;
  border-radius: 5px;
}

.error {
  background-color: #ed553b;
  color: white;
}

.success {
  background-color: #00f6db;
  color: black;
}

.warning {
  background-color: #f6d55c;
}

.error-messages {
  color: #ed553b;
  display: none;
  padding-top: 0.25rem;
}

.basket__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .basket__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .basket__wrapper {
    gap: 4rem;
  }
}

.basket__list {
  display: block;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .basket__list {
    border-radius: 5px;
    border: 1px solid #bdbdbd;
  }
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
}

.basket__item:first-child {
  margin-top: 0;
}

.basket__item:last-child {
  border-radius: 0 0 5px 5px;
  margin-bottom: 0;
}

.basket__link {
  text-decoration: underline;
  cursor: pointer;
}

.basket__content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.basket__table {
  width: 100%;
  max-width: 400px;
}

.basket__emtpy {
  background-color: white;
}

.summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .summary {
    max-height: 350px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
  }
}

.summary__table {
  text-align: left;
  width: 100%;
  font-size: 1.12rem;
  border-collapse: collapse;
}

.summary__button-wrapper {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-right {
  text-align: right;
}

td {
  max-width: 100px;
}

.basket__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.basket-list-empty {
  font-size: 1.25rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
}

#order-total {
  font-size: 1.25rem;
  border-top: 1px solid black;
}

#order-total > td {
  padding-top: 0.5rem;
}

#shipping > td {
  padding-bottom: 1rem;
}

#total {
  display: none;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

@media (min-width: 992px) {
  .news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news__block1 {
  background-color: white;
  color: black;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 992px) {
  .news__block1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background: #584f4f;
    background: radial-gradient(circle, #584f4f 0%, black 100%);
    color: white;
  }
}

.news__block2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 992px) {
  .news__block2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.news__text-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0 2.5rem 0;
}

@media (min-width: 992px) {
  .news__text-wrapper {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0;
  }
}

.news__red-line {
  width: 150px;
  height: 4px;
  background-color: #ea564e;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */