.alert {
  display: inline-block;
  border: 0.5rem solid #ffffff40;
  border-radius: 5;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  color: #4e3b3e;
  font-size: 1.125rem;
}

.error {
  background-color: getColor(error);
  color: white;
}

// .error::before {
//   font-family: FontAwesome;
//   content: "\f00d";
//   padding-right: 0.75rem;
// }

.success {
  background-color: getColor(success);
  color: black;
}

// .success::before {
//   font-family: FontAwesome;
//   content: "\f058";
//   padding-right: 0.75rem;
// }

.warning {
  background-color: getColor(warning);
}

// .warning::before {
//   font-family: FontAwesome;
//   content: "\f071";
//   padding-right: 0.75rem;
// }
