.basket {
  &__list {
    display: block;
    margin-bottom: 1rem;

    @media (min-width: getBreakpoint(medium)) {
      @include content-border(5px);
    }
  }

  &__item {
    display: flex;
    position: relative;
    background-color: getColor(primary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    gap: 1rem;

    @media (min-width: getBreakpoint(small)) {
      gap: 2rem;
    }
  }

  &__item:last-child {
    border-radius: 0 0 5px 5px;
    margin-bottom: 0;
  }

  &__item:first-child {
    margin-top: 0;
    border-radius: 5px;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
  }

  &__content {
    flex: 2;
  }

  &__table {
    width: 100%;
    font-size: 0.875rem;

    @media (min-width: getBreakpoint(small)) {
      font-size: 1rem;
    }
  }

  &__table-heading {
    width: 100px;

    @media (min-width: getBreakpoint(small)) {
      width: 150px;
    }
  }
    &__emtpy {
      background-color: white;
    }
  }

  .summary {
    flex: 1;
    padding: 2rem;
    background-color: getColor(primary);

    @media (min-width: getBreakpoint(medium)) {
      max-height: 350px;

      @include content-border(5px);
    }

    &__table {
      text-align: left;
      width: 100%;
      font-size: 1.12rem;
      border-collapse: collapse;
    }

    &__button-wrapper {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .align-right {
    text-align: right;
  }

.basket__inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.basket-list-empty {
  font-size: 1.25rem;
  padding: 1rem;
  background-color: getColor(primary);
  border-radius: 5px;
}

#order-total {
  font-size: 1.25rem;
  border-top: 1px solid black;
}

#order-total > td {
  padding-top: 0.5rem;
}

#shipping > td {
  padding-bottom: 1rem;
}

#total {
  display: none;
}
