html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $body-text;
  background-color: getColor(background);
  font-size: 1rem;
}

.wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

.base-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-content {
  position: absolute;
  width: 100%;
  top: 50px;
  background-color: #ffffffbf;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: getBreakpoint(large)) {
    background-color: transparent;
  }

  @media (min-width: getBreakpoint(xlarge)) {
  }

  &-container {
    // background-color: pink;
    margin: 0 auto;
    width: 90%;
  }
}

.brand-wrapper {
  display: flex;
  align-items: center;
}

.featured {
}

.loader {
  border: 10px solid getColor(primary);
  border-top: 10px solid getColor(accent);
  margin: 0 auto;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about,
.faq,
.contact,
.location {
  margin: 0 auto;
  width: 90%;

  @media (min-width: getBreakpoint(medium)) {
    width: 85%;
  }

  @media (min-width: getBreakpoint(large)) {
    width: 80%;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: 75%;
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: 70%;
  }
}

.support-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: getColor(primary);

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(largeScreen);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(xlargeScreen);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(xxlargeScreen);
  }
}

.location__map {
  width: 300px;
  height: 200px;
  margin-top: 1rem;

  @include content-border(5px);

  @media (min-width: getBreakpoint(medium)) {
    width: 375px;
    height: 250px;
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  

  @media (min-width: getBreakpoint(xxlarge)) {
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
  }
}
