html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $body-text;
  background-color: getColor(background);
  font-size: 1rem;
}

.wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  display: block;
}

.base-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  width: 100%;
}

main {
  height: 100%;
  background-image: url("../images/background_pattern_grey.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 300px;

  @media (min-width: getBreakpoint(large)) {
    background-attachment: fixed;
    padding-top: 75px;
    // padding-bottom: 75px;
  }

  &.index {
    padding-top: 0;
    margin-top: 0;
  }

  &.products-overview {
    padding-top: 0;
  }
}

.loader-container {
  position: absolute;
  margin-top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
}

.loader {
  border: 0.4rem solid getColor(accent);
  border-top: 0.4rem solid transparent;
  margin: 0 auto;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s ease-in-out infinite;
}

.slider-loader {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

hr {
  color: getColor(border);
}

.red-line {
  width: 150px;
  height: 3px;
  background-color: getColor(accent);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  @media (min-width: getBreakpoint(large)) {
    height: 4px;
  }
}

//new code
.fade-background,
.fade-background-nl {
  height: 100%;
  background-color: #000000a6;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: none;
  animation-name: animate-opacity;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.fade-background-nl {
  z-index: 1000;
}

// .animate-opacity {
//   animation-name: animate-opacity-reverse;
//   animation-duration: 0.3s;
//   animation-timing-function: ease-out;
// }

@keyframes animate-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// @keyframes animate-opacity-reverse {
//   from {
//     opacity: 1;
//   }

//   to {
//     opacity: 0;
//   }
// }

.featured__header {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 0.5rem;

  @media (min-width: getBreakpoint(medium)) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
/////////////////
.show {
  display: block;

  @media (min-width: getBreakpoint(large)) {
    display: none;
  }
}

.hide {
  display: none;

  @media (min-width: getBreakpoint(large)) {
    display: block;
  }
}
