button {
  width: 200px;
}

.button {
  display: inline-block;
  color: getColor(primary);
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 50px;
  font-family: $button-text;
  text-align: center;
  font-size: 1.25rem;
  transition: all 0.3s;
  cursor: pointer;
}

.primary-button,
.hero__button {
  background-color: getColor(accent);

  //hover state removed from small screen because else JS class toggle causes issues
  @media (min-width: getBreakpoint(large)) {
    &:hover {
      scale: 1.1;
      @include dropShadow(12px, 12px);
    }
  }
}

.hero__button {
  display: block;
  width: 200px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

.secondary-button {
  font-size: 1.25rem;
  background-color: getColor(dark);
  color: getColor(primary);
  margin-top: 1rem;
  border-radius: 5px;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      background-color: getColor(accent);
    }
  }
}

.update-button {
  width: 220px;
  margin-top: 1rem;
}

.newsletter__button {
  width: 150px;
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#buy-button {
  margin-top: 0.25rem;
}

.checkout-button {
  margin-top: 2rem;
  float: right;
}

.delete-button {
  background-color: transparent;
  margin-top: 2rem;
  font-size: 1.125rem;
  border: 3px solid getColor(accent);
  border-radius: 5px;
  color: getColor(accent);
  padding: 0.5rem 0.75rem;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      background-color: getColor(accent);
      color: getColor(primary);
    }
  }
}

.button-message {
  margin-bottom: 1rem;
}

.edit-button {
  margin-top: 0.75rem;
  background-color: getColor(admin);
  color: getColor(primary);
  display: block;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  border-radius: 5px;
  text-align: center;
  order: 1;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      background-color: getColor(secondary);
    }
  }
}

.details__edit-button {
  margin-top: 0;
  margin-bottom: 0.75rem;
  max-width: 150px;

  @media (min-width: getBreakpoint(small)) {
    margin: 0;
  }
}

#load-button {
  display: block;
  margin: 3rem auto 0 auto;
  width: 260px;
}

#buy-button {
  width: 270px;
}

.on {
  background-color: getColor(accent);
}

.off {
  background-color: transparent;
  border: 3px solid getColor(accent);
  color: getColor(accent);

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      background-color: getColor(accent);
      color: getColor(primary);
    }
  }
}

.button-message {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-style: italic;
}

.disabled {
  background-color: grey;
  pointer-events: none;
  cursor: default;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      scale: 1;
      box-shadow: none;
    }
  }
}
