.button {
  width: 200px;
  display: inline-block;
  color: getColor(primary);
  padding: 0.65rem 2rem;
  border: none;
  border-radius: 50px;
  font-family: $button-text;
  font-weight: 400;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

//hover state removed from small screens because else JS class toggle causes issues

.hero__button {
  display: block;
  width: 200px;
  margin: 1rem 0 0 0;
  background-color: getColor(accent);
  font-size: getFontSize(heroButtonSmall);

  @media (min-width: getBreakpoint(large)) {
    font-size: getFontSize(heroButtonLarge);

    &:hover {
      scale: 1.1;
      @include dropShadow(12px, 12px);
    }
  }
}

.primary-button {
  background-color: getColor(accent);
  font-size: getFontSize(buttonSmall);

  @media (min-width: getBreakpoint(large)) {
    font-size: getFontSize(buttonLarge);

    &:hover {
      scale: 1.1;
      @include dropShadow(12px, 12px);
    }
  }
}

.secondary-button {
  font-size: getFontSize(buttonSmall);
  background-color: getColor(secondary);
  color: getColor(primary);
  margin-top: 1rem;
  border-radius: 5px;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      background-color: getColor(accent);
    }
  }
}

.edit-button {
  display: block;
  width: 100%;
  background-color: getColor(admin);
  color: getColor(primary);
  display: block;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  border-radius: 0 0 5px 5px;
  text-align: center;
  order: 1;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      background-color: getColor(accent);
      color: getColor(primary);
    }
  }

  &--details {
    margin-top: 0;
    margin-bottom: 0.75rem;
    max-width: 150px;
    border-radius: 5px;

    @media (min-width: getBreakpoint(small)) {
      margin: 0;
    }
  }
}

.update-button,
.add-button {
  width: 220px;
  background-color: getColor(admin);
  margin-top: 1rem;
}

.delete-button {
  background-color: transparent;
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: bold;
  border: 3px solid getColor(error);
  border-radius: 5px;
  color: getColor(error);
  padding: 0.5rem 0.75rem;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      background-color: getColor(error);
      color: getColor(primary);
    }
  }
}

.checkout-button {
  margin-top: 2rem;
  float: right;
}

#load-button {
  display: block;
  margin: 4rem auto 0 auto;
  width: 260px;
}

#buy-button {
  width: 265px;
  margin-top: 0.25rem;
}

#confirmation-button {
  width: 280px;
  margin-top: 50px;
  margin-bottom: 50px;
}

// add and remove classes is toggled by JS
.add-to-basket {
  background-color: getColor(accent);
}

.remove-from-basket {
  background-color: transparent;
  border: 3px solid getColor(accent);
  color: getColor(accent);
  font-size: 1.125rem;
  padding: 0.5rem 1rem;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      scale: 1;
      background-color: getColor(accent);
      color: getColor(primary);
      box-shadow: none;
    }
  }
}

.disabled {
  background-color: grey;
  pointer-events: none;
  cursor: default;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      scale: 1;
      box-shadow: none;
    }
  }
}
