button {
  width: 200px;
}

.button {
  display: inline-block;
  color: getColor(primary);
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 50px;
  font-family: $button-text;
  text-align: center;
  font-size: 1.25rem;
  transition: all 0.3s;
  cursor: pointer;
}

.primary-button, .main-button {
  background-color: getColor(accent);

  &:hover {
    scale: 1.1;
    @include dropShadow(12px, 12px);
  }
}

.main-button {
  font-size: 1.5rem;
}

.secondary-button {
  font-size: 1.25rem;
  background-color: getColor(dark);
  color: getColor(primary);
  border-radius: 5px;

  &:hover {
    background-color: getColor(accent);
  }
}

.update-button {
  width: 220px;
}

.newsletter__button {
  width: 150px;

  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buy-button {
  width: 200px;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 0;
}

.checkout-button {
  margin-top: 2rem;
  float: right;
}

.disabled {
  background-color: grey;
  pointer-events: none;
  cursor: default;

  &:hover {
    scale: 1;
    box-shadow: none;
  }
}

.delete-button {
  background-color: transparent;
  margin-top: 2rem;
  font-size: 1.125rem;
  border: 3px solid getColor(accent);
  border-radius: 5px;
  color: getColor(accent);
  padding: 0.5rem 0.75rem;

  &:hover {
    background-color: getColor(accent);
    color: getColor(primary);
  }
}

.button-message {
  margin-bottom: 1rem;
}
