.card__container {
  transition: all 0.3s;
  width: $card-width;
  display: flex;
  flex-direction: column;

  border: 1px solid getColor(border);
  border-radius: 5px;

  @media (min-width: getBreakpoint(large)) {
    &:hover {
      @include dropShadow(12px, 12px);
      scale: 1.05;
    }
  }
}

//this class sets the product to not be displayed when the array is longer than 8, until the load button is clicked.
.remove-card {
  display: none;
}

.card {
  display: block;
  height: $card-height;
  transition: all 0.3s;
  background-color: getColor(primary);
  padding-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;

  &__body {
    background-color: getColor(primary);
    padding: 1rem;
    position: relative;
  }

  // &__wrapper {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: baseline;
  // }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  // &--admin {
  //
  // }
}

.card__admin {
  border-bottom: none;
}

.about__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 700px;
  background-color: getColor(primary);

  @media (min-width: getBreakpoint(medium)) {
    flex-direction: row;

    @include content-border(5px);
  }

  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 3rem;
  }

  &-wrapper {
    @media (min-width: getBreakpoint(medium)) {
      font-size: 1.125rem;
      padding-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1rem;
    }
  }

  &-quote {
    margin: 0;
    font-family: $secondary-headings;
    font-style: italic;
    max-width: 400px;
    font-size: 1.125rem;
  }

  &-name {
    margin: 0 auto;
    padding-top: 1rem;
    font-weight: bold;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.125rem;
    }
  }
}

.details {
  &__card {
    padding: 2rem 5% 3rem 5%;
    flex: 1;
    background-color: getColor(primary);

    @media (min-width: getBreakpoint(small)) {
      padding: 2rem 7.5% 3rem 7.5%;
    }

    @media (min-width: getBreakpoint(medium)) {
      padding: 2rem 12.5% 3rem 12.5%;
    }

    @media (min-width: getBreakpoint(large)) {
      padding: 2rem 2rem 3rem 2rem;
      @include content-border(5px);
    }

    @media (min-width: getBreakpoint(xxlarge)) {
      padding: 2rem 3rem 3rem 3rem;
    }
  }

  &__block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
      gap: 3rem;
      margin-bottom: 2rem;
    }
  }

  &__block1 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__block2 {
    flex: 3;
    margin-top: 1rem;

    @media (min-width: getBreakpoint(large)) {
      margin-top: 0;
    }
  }

  &__value-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__value {
    margin: 0;
    padding: 0;
  }

  &__heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__line-wrapper {
    display: flex;
    align-items: center;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__stock-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: getBreakpoint(small)) {
      flex-direction: row;
      align-items: center;
    }
  }
}

