.card {
  display: block;
  width: 300px;
  min-height: 410px;
  transition: all 0.3s;
  background-color: getColor(primary);
  border-radius: 5px;

  @include content-border(5px);

  &:hover {
    @include dropShadow(12px, 12px);
    scale: 1.05;
  }

  &__link {
    cursor: pointer;
  }

  &__image-container {
    height: 240px;
  }

  &__body {
    background-color: getColor(primary);
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 0 0 5px 5px;
    position: relative;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__icon-container {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid getColor(accent);
    background-color: getColor(accent);
    position: relative;
  }
}

.about__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  max-width: 700px;

  @media (min-width: getBreakpoint(medium)) {
    flex-direction: row;

    @include content-border(5px);
  }

  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 3rem;
  }

  &-wrapper {
    @media (min-width: getBreakpoint(medium)) {
      font-size: 1.125rem;
      padding-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &-icon {
    position: absolute;
    background-color: getColor(accent);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;

    @media (min-width: getBreakpoint(medium)) {
      left: 2rem;
      top: 1rem;
    }
  }

  &-quote {
    margin: 0;
    font-family: $secondary-headings;
    font-style: italic;
    max-width: 400px;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.125rem;
    }
  }

  &-ceo {
    margin: 0 auto;
    padding-top: 1rem;
    font-weight: bold;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.125rem;
    }
  }
}

.about__card-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faq__item {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.details {
  &__card {
    padding: 2rem;
    flex: 1;
    background-color: getColor(primary);

    @media (min-width: getBreakpoint(large)) {
      @include content-border(5px);
    }

    @media (min-width: getBreakpoint(xxlarge)) {
      padding: 2rem 4rem;
    }
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
    }
  }

  &__block1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
  }

  &__block2 {
    flex: 1;
  }

  &__line-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__stock-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  &__size-box-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }

  &__size-box {
    width: 32px;
    height: 32px;
    position: relative;
    background-color: getColor(background);
    cursor: pointer;

    @include content-border(5px);
  }

  &__size {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 1.25rem;
    line-height: 1;
  }

  &__button-wrapper {
    margin-top: 1rem;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: getBreakpoint(small)) {
      flex-direction: row;
      align-items: center;
    }
  }
}
