.card {
  display: block;
  width: 300px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: getColor(primary);

  @include content-border(5px);

  &:hover {
    @include dropShadow(12px, 12px);
    scale: 1.1;
  }

  &-image {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  &-body {
    background-color: getColor(primary);
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 0 0 5px 5px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &-text {
    margin: 0;
    padding: 1rem 0 0 0;
  }
}
