.admin {
  position: relative;

  &__container {
    width: 85%;
    margin: 0 auto;

    // @media (min-width: getBreakpoint(small)) {
    //   width: 50%;
    // }

    // @media (min-width: getBreakpoint(medium)) {
    //   width: 40%;
    // }

    // @media (min-width: getBreakpoint(large)) {
    //   width: 85%;
    // }
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    max-width: 500px;
    background: getColor(primary);
    top: 95px;
    right: 0;
    gap: 1rem;
    z-index: 2000;
    padding-top: 1rem;
    padding-bottom: 3rem;
    perspective: 1000px;
    display: none;
    animation: animate-dropdown 300ms ease-in-out forwards;
    transform-origin: top center;

    @include dropShadow(6px, 6px);

    @keyframes animate-dropdown {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }

    @media (min-width: getBreakpoint(small)) {
      border-radius: 0 0 0 5px;
    }

    @media (min-width: getBreakpoint(large)) {
      top: 67px;
    }
  }
}

.mobile-menu {
  display: none;
  
  @media (min-width: getBreakpoint(large)) {
    display: none !important;
  }

  &__list {
    margin-left: getWidth(dynamicPadding);
    padding-bottom: 0.5rem;

    @extend .base-list;
  }

  &__item {
    font-family: $button-text;
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  &__toggle {
    margin-left: 0;

    @media (min-width: getBreakpoint(large)) {
      display: none !important;
    }

    & svg {
      path {
        fill: getColor(secondary);
      }
    }
  }
}
