.admin {
  position: relative;

  &__container {
    width: 85%;
    margin: 0 auto;

    @media (min-width: getBreakpoint(small)) {
      width: 50%;
    }

    @media (min-width: getBreakpoint(medium)) {
      width: 40%;
    }

    @media (min-width: getBreakpoint(large)) {
      width: 85%;
    }
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(230, 230, 230, 1) 0%,
      rgba(250, 250, 250, 1) 50%,
      rgba(230, 230, 230, 1) 100%,
    );
    top: 126px;
    right: 0;
    gap: 1rem;
    z-index: -1;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-radius: 0 0 0 5px;
    perspective: 1000px;
    display: none;
    animation: animate-dropdown 400ms ease-in-out forwards;
    transform-origin: top center;

    @include dropShadow(6px, 6px);

    @keyframes animate-dropdown {
      0% {
        transform: scale(0);
      }
      80% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

    @media (min-width: getBreakpoint(large)) {
      width: 600px;
      top: 85px;
    }
  }
}

.mobile-menu {
  display: none;
  @media (min-width: getBreakpoint(large)) {
    display: none !important;
  }

  &__list {
    margin-top: 1rem;
    margin-left: getWidth(dynamicPadding);

    @extend .base-list;
  }

  &__item {
    font-family: $button-text;
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__toggle {
    margin-left: 0;

    @media (min-width: getBreakpoint(large)) {
      display: none !important;
    }
  }
}
