.favorites__list {
  margin: 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &--empty {
    font-size: 1.25rem;
    padding: 1rem;
    background-color: getColor(primary);
    border: 1px solid getColor(border);
    border-radius: 5px;
    list-style: none;
  }
}

.fav a {
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.75;
    @include dropShadow(6px, 12px);
  }
}

.fav {
  position: relative;
  list-style: none;
  border-radius: 3px;
  background-color: getColor(primary);
  border: 1px solid getColor(border);

  &__heading-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__count {
    font-family: $primary-headings;
    font-size: 1.25rem;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
  }

  &__image img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
    padding: 1rem;

    & p {
      margin: 0;
      padding: 1rem 0 0 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid getColor(secondary);
    padding-bottom: 0.5rem;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: column;
    }
  }

  &__title {
    font-family: $primary-headings;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-weight: bold;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.125rem;
    }
  }

  &__description {
    padding-top: 1rem;
  }
}
