.favorites__list {
  margin: 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &--empty {
    font-size: 1.25rem;
    padding: 1rem;
    background-color: getColor(primary);
    border: 1px solid getColor(border);
    border-radius: 5px;
    list-style: none;
  }
}

.fav a {
  @media (min-width: getBreakpoint(large)) {
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.75;
    }
  }
}

.fav {
  position: relative;
  list-style: none;
  border-radius: 3px;
  background-color: getColor(primary);
  border: 1px solid getColor(border);
  
  @media (min-width: getBreakpoint(medium)) {
    padding: 1rem;
  }

  &__heading-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__count {
    font-family: $primary-headings;
    font-size: 1.25rem;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: getBreakpoint(medium)) {
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  &__image {
    width: 100%;

    @media (min-width: getBreakpoint(medium)) {
      flex: 1;
      border-radius: 5px;
    }
  }

  &__image img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;

    @media (min-width: getBreakpoint(medium)) {
      border-radius: 5px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
    padding: 1rem;

    @media (min-width: getBreakpoint(medium)) {
      flex: 2;
    }
  }

  &__header {
    display: flex;

    justify-content: space-between;
    padding-bottom: 0.5rem;

    @media (min-width: getBreakpoint(medium)) {
      flex-direction: column;
    }
  }

  &__title {
    font-family: $primary-headings;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-decoration: underline;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.125rem;
    }
  }
}
