.footer {
  background-color: black;
  color: getColor(background);

  &__container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
    }
  }

  &__list {
    @extend .base-list;
  }

  &__link {
    color: getColor(primary);
    font-weight: 300;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    background-color: getColor(primary);
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__pipe {
    display: none;

    @media (min-width: getBreakpoint(large)) {
      display: inline-block;
    }
  }
}

.footer__bottom {
  background-color: getColor(secondary);
}

.footer-terms__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #bdbdbd;
  margin: 0;
  padding: 0;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
    gap: 1rem;
  }
}
