.input {
  padding: 0.5rem 1rem;
  font-family: $body-text;
  font-size: 1.125rem;
  background-color: getColor(background);

  @include content-border(5px);

  &:focus {
    background-color: getColor(primary);
  }
}

.add__input, .edit__input {
  font-size: 1rem;
}

input[type="radio"] {
  cursor: pointer;
}

label {
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.label-light {
  font-weight: normal;
}

// .search__label {
//   text-transform: uppercase;
// }

.newsletter__label {
  color: getColor(primary);
  padding-bottom: 0.25rem;
}

.radio-label {
  padding-bottom: 0;
  padding-top: 5px;
}

select {
  background-color: getColor(background);
  margin-top: 0.35rem;
  padding: 0.25rem;
  font-size: 1rem;

  @include content-border(5px)
}

#quantity, #size {
  width: 4rem;
}


.newsletter {
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input-wrapper {
    max-width: 350px;
  }

  &__input {
    margin: 0;
    width: 100%;
  }
}

.search {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: getBreakpoint(xlarge)) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__form {
    position: relative;
    // background-color: pink;
  }

  &__input {
    width: 100%;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
    background-color: getColor(primary);

    @include content-border(5px);
  }

  
}

.admin {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    max-width: 350px;
  }
}

textarea {
  font-family: $body-text;
  font-size: 1rem !important;
}

#short-description {
  font-size: 1.125rem;
  height: 100px;
}

#description {
  font-size: 1.125rem;
  height: 250px;
}

.add__input,
.edit__input {
  width: 100%;
}

.add__input-wrapper,
.edit__input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
}

.add__input-prefix-wrapper,
.edit__input-prefix-wrapper {
  display: flex;
  align-items: center;
}

.add__input-prefix,
.edit__input-prefix {
  font-size: 1.125rem;
  background-color: getColor(secondary);
  color: getColor(primary);
  padding: 0.5rem 0.75rem;
  border-left: 1px solid getColor(secondary);
  border-top: 1px solid getColor(secondary);
  border-bottom: 1px solid getColor(secondary);
  border-radius: 5px 0 0 5px;
}

#product-image {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid getColor(border);
  border-top: 1px solid getColor(border);
  border-bottom: 1px solid getColor(border);
}

#price {
  width: 120px;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid getColor(border);
  border-top: 1px solid getColor(border);
  border-bottom: 1px solid getColor(border);
}

.add__radio-flex,
.edit__radio-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.radio-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


