.newsletter {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__input {
    width: 100%;
    max-width: 350px;
    border-top: none;
    border-right: none;
    border-bottom: 4px solid getColor(accent);
    border-left: none;
    border-radius: 0;
    padding: 0.75rem;
    font-size: 1.125rem;

    &:focus {
      border-bottom: 4px solid transparent;
    }
  }
}

.search {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: getBreakpoint(xlarge)) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__form {
    position: relative;
    // background-color: pink;
  }

  &__input {
    width: 300px;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;

    @include content-border(5px);
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}
