.input {
  padding: 0.5rem 1rem;
  font-family: $body-text;
  font-size: 1.125rem;
  background-color: getColor(primary);

  @include content-border(3px);

  &:focus {
    background-color: getColor(primary);
  }
}

input[type="radio"] {
  cursor: pointer;
}

textarea {
  font-family: $body-text;
  font-size: 1rem;
}

select {
  background-color: getColor(background);
  // margin-top: 0.35rem;
  padding: 0.25rem;
  font-size: 1rem;

  @include content-border(5px);
}

label {
  font-weight: bold;
  padding-bottom: 0.375rem;
}

.label-light {
  font-weight: normal;
}

.newsletter__label {
  color: getColor(primary);
}

.radio-label {
  padding-bottom: 0;
  padding-top: 5px;
}

.newsletter {
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  // &__input-wrapper {
  //   max-width: 350px;
  // }

  &__input {
    margin: 0;
    width: 100%;
  }
}

.utils {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;

    @media (min-width: getBreakpoint(large)) {
      margin-bottom: 2.5rem;
      
    }

    @media (min-width: getBreakpoint(xxLarge)) {
      flex-direction: row; 
      align-items: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    // @media (min-width: getBreakpoint(xLarge)) {
    //   flex-direction: column;
    // }

    // @media (min-width: getBreakpoint(xxLarge)) {
    //   flex-direction: row;
    // }
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    order: 1;

    @media (min-width: getBreakpoint(medium)) {
      order: 2;
    }
  }

  &__form {
    position: relative;
  }

  &__input {
    min-width: 250px;
    font-size: 1.125rem;
    height: 3rem;
    padding-left: 3rem;
    background-color: getColor(primary);

    @include content-border(5px);

    @media (min-width: getBreakpoint(medium)) {
      min-width: 350px;
    }
  }
}

#search-form {
  order: 2;

  @media (min-width: getBreakpoint(medium)) {
    order: 1;
  }
}

.admin {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    max-width: 350px;
  }
}

.add,
.edit {
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;

    &:first-child {
      margin-top: 0;
    }
  }

  &__input {
    width: 100%;
    font-size: 1rem;
  }

  &__input-prefix-wrapper {
    display: flex;
    align-items: center;
  }

  &__input-prefix {
    font-size: 1rem;
    background-color: getColor(secondary);
    color: getColor(primary);
    padding: 0.5rem 0.75rem;
    border-left: 1px solid getColor(secondary);
    border-top: 1px solid getColor(secondary);
    border-bottom: 1px solid getColor(secondary);
    border-radius: 5px 0 0 5px;
  }

  &__radio-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__radio-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }
}

//short description input
#short-description {
  height: 100px;
}

//description input
#description {
  height: 250px;
}

//image url input
#product-image {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid getColor(border);
  border-top: 1px solid getColor(border);
  border-bottom: 1px solid getColor(border);
}

//price input
#price {
  width: 120px;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid getColor(border);
  border-top: 1px solid getColor(border);
  border-bottom: 1px solid getColor(border);
}

//quantity and size select
#quantity,
#size {
  width: 4rem;
}

#info-frame {
  border: 3px solid getColor(admin);
  border-radius: 5px;
  margin-top: 3rem;
  padding: 1rem 2rem;
  color: getColor(admin);
}
