.hero {
  &__content {
    position: absolute;
    width: 100%;
    display: block;
    top: 25px;
    background-color: #ffffffa6;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (min-width: getBreakpoint(large)) {
      display: inline-block;
      top: 100px;
    }

    @media (min-width: getBreakpoint(xlarge)) {
    }

    &__content-container {
      // background-color: pink;
      width: 95%;
      margin: 0 auto;
    }
  }

  &__red-line {
    width: 270px;
    height: 6px;
    background-color: getColor(accent);
    margin: 0 auto;
  }
}
