svg {
  width: 40px;
  height: 40px;
  cursor: pointer;

  path {
    fill: black;
  }
}

i {
  cursor: pointer;
}

.filter__icon-box {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 3px;
  background-color: getColor(secondary);
}

.filter__icon {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path {
    fill: getColor(primary);
  }
}

.search__icon {
  position: absolute;
  bottom: 0;
  transform: translateY(-25%);
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.nav__icon {
  margin-left: 2rem;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.75;
  }

  @media (min-width: getBreakpoint(large)) {
    margin-left: 3rem;
  }
}

.basket__icon {
  margin-left: 0;
  padding: 0;
}

.card__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path {
    fill: getColor(secondary);
  }
}

.fa-heart {
  position: absolute;
  display: block;
  font-size: 1.75rem;
  color: getColor(secondary);
  z-index: 200;

  @media (min-width: getBreakpoint(large)) {
    font-size: 2rem;
  }
}

#card-fav-icon {
  top: 1rem;
  right: 1rem;
  font-size: 1.75rem;
}

#details-fav-icon {
  top: 1rem;
  left: 1rem;

  @media (min-width: getBreakpoint(large)) {
    top: 2rem;
    left: 2rem;
  }
}

.out-of-stock {
  background-color: getColor(errorText);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.in-stock {
  background-color: getColor(successText);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.basket__remove-icon,
.fav__remove-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 200;
}

.about__card-icon {
  position: relative;
  background-color: getColor(accent);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  margin-bottom: 0.75rem;
}

.about__card-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path {
    fill: getColor(primary);
  }
}

.modal__close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;

  path {
    fill: getColor(secondary);
  }
}

#nl-modal-icon {
  fill: getColor(primary);
}

.fa-plus,
.fa-minus {
  color: black;
  font-size: 1.125rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;

  // @media (min-width: getBreakpoint(large)) {
  //   visibility: hidden;
  // }
}

.fa-plus-square,
.fa-minus-square {
  color: getColor(dark);
  font-size: 1.25rem;
}

.fa-shipping-fast {
  padding-top: 1rem;
  font-size: 2rem;
}

.footer__icon {
  color: getColor(primary);
}

#basket {
  position: relative;
}

#counter-container {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 27px;
  background-color: getColor(accent);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 9;
  font-family: $button-text;
  display: none;
}

#counter-number {
  position: absolute;
  line-height: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  animation: heart-animation 0.4s ease;
}

.animation {
  animation: shake-animation 5s ease;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes heart-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
    color: getColor(accent);
  }

  100% {
    transform: scale(1);
  }
}
