svg {
  width: 40px;
  height: 40px;
  cursor: pointer;

  path {
    fill: black;
  }
}

i {
  cursor: pointer;
}

.search__icon {
  position: absolute;
  top: 31px;
  right: 8px;
  height: 32px;
  width: 32px;
}

.nav__icon {
  margin-left: 4rem;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.75;
  }
}

.basket__icon {
  margin-left: 0;
  padding: 0;
}

.card__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path {
    fill: getColor(secondary);
  }
}

.out-of-stock {
  background-color: getColor(error);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.in-stock {
  background-color: getColor(success);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.basket__remove-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.about__card-icon {
  position: absolute;
  background-color: getColor(accent);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;

  @media (min-width: getBreakpoint(medium)) {
    left: 1.5rem;
    top: 0.5rem;
  }
}

.about__card-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-plus,
.fa-minus {
  color: black;
  font-size: 1.125rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;

  @media (min-width: getBreakpoint(large)) {
    visibility: hidden;
  }
}

.fa-plus-square,
.fa-minus-square {
  color: getColor(dark);
  font-size: 1.25rem;
}

.footer__icon {
  color: getColor(primary);
}

#basket {
  position: relative;
}

#counter-container {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 27px;
  background-color: getColor(accent);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  z-index: 9;
  font-family: $button-text;
  display: none;
}

#counter-number {
  position: absolute;
  line-height: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.animation {
  animation: shake-animation 5s ease;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


