.nav__logo {
  width: 150px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 0.25rem;

  @media (min-width: getBreakpoint(large)) {
    width: 200px;
    margin-right: 3rem;
    margin-bottom: 0;
  }
}

.confirmation__logo {
  width: 200px;
  margin: 0 auto;
  padding-top: 0.25rem;
}

.products-banner {
  background-image: url("../images/products-banner-small.jpg");
  background-size: cover;
  background-position: 90% bottom;
  height: 450px;

  @media (min-width: getBreakpoint(large)) {
    background-image: url("../images/products-banner-large.jpg");
    height: 500px;
    background-position: center bottom;
  }
}

.news__image {
  display: block;
  width: 100%;
}

.card__image-container {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card__image {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.details__image {
  display: block;
  width: 100%;
  flex: 1;
}

.basket__image {
  width: 100%;
  flex: 1;
  border-radius: 5px;
}

.about__image {
  display: block;
  width: 200px;
  margin: 0;
  border-radius: 5px 0 0 0;

  @media (min-width: getBreakpoint(small)) {
    width: 200px;
    border-radius: 5px 0 0 5px;
  }
}
