.main-image {
  background-image: url("../images/mercury-main.jpg");
  background-size: cover;
  height: 800px;
  margin: 0;
  position: relative;
}

.products-banner {
  background-image: url("../images/products-banner.jpeg");
  background-size: cover;
  background-position: bottom;
  height: 400px;
}
