.base-container {
  width: getWidth(baseSmallScreen);
  margin: 0 auto;

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(baseLargeScreen);
  }

  @media (min-width: getBreakpoint(xLarge)) {
    width: getWidth(basexLargeScreen);
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    width: getWidth(baseXxLargeScreen);
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @extend .base-container;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
    align-items: center;
  }
}

.footer__container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;

  @extend .base-container;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
  }
}

.news {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  @extend .base-container;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
    justify-content: center;
  }
}

.featured {
  width: 100%;

  @media (min-width: getBreakpoint(small)) {
    width: 85%;
    margin: 0 auto;
  }

  &__header {
    width: 85%;
    margin: 2rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: getBreakpoint(small)) {
      width: 100%;
    }

    @media (min-width: getBreakpoint(medium)) {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  // @media (min-width: getBreakpoint(large)) {
  //   width: 60%;
  // }

  // @media (min-width: getBreakpoint(xLarge)) {
  //   width: 50%;
  // }
}

.details-container {
  width: 95%;
  margin: 0 auto;

  @media (min-width: getBreakpoint(large)) {
    width: 95%;
  }

  @media (min-width: getBreakpoint(xLarge)) {
    width: 90%;
  }
}

.basket {
  width: getWidth(basketSmall);
  margin: 0 auto 2rem auto;

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(basketMedium);
  }

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(basketLarge);
  }

  @media (min-width: getBreakpoint(xLarge)) {
    width: getWidth(basketxLarge);
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    width: getWidth(basketXxLarge);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: getBreakpoint(xLarge)) {
      gap: 4rem;
    }

    @media (min-width: getBreakpoint(xxLarge)) {
      gap: 6rem;
    }
  }
}

.grid-wrapper {
  width: getWidth(gridSmall);
  margin: 0 auto;
  margin-top: 50px;

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(gridMedium);
  }

  @media (min-width: getBreakpoint(large)) {
  }

  @media (min-width: getBreakpoint(xLarge)) {
    width: getWidth(gridxLarge);
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    width: getWidth(gridXxLarge);
  }
}

// .featured__grid {
//   width: getWidth(gridSmall);
//   margin: 0 auto;
//   display: grid;
//   grid-template-rows: auto auto auto auto;
//   grid-template-columns: auto;
//   justify-items: center;
//   gap: 32px;
//   padding-top: 2rem;
//   padding-bottom: 2rem;
//   //   background-color: pink;

//   @media (min-width: getBreakpoint(medium)) {
//     width: getWidth(gridMedium);
//     grid-template-rows: auto auto;
//     grid-template-columns: auto auto;
//   }

//   @media (min-width: getBreakpoint(xLarge)) {
//     width: getWidth(gridxLarge);
//     grid-template-rows: auto;
//     grid-template-columns: auto auto auto;
//   }

//   @media (min-width: getBreakpoint(xxLarge)) {
//     width: getWidth(gridXxLarge);
//     grid-template-rows: auto;
//     grid-template-columns: auto auto auto auto;
//   }
// }

.products__grid {
  width: getWidth(gridSmall);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  justify-items: center;
  gap: 32px;

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(gridMedium);
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  @media (min-width: getBreakpoint(xLarge)) {
    width: getWidth(gridxLarge);
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    width: getWidth(gridXxLarge);
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
  }
}

.about,
.faq,
.returns,
.sizes,
.contact,
.location,
.confirmation {
  margin: 0 auto;
  width: 90%;

  @media (min-width: getBreakpoint(medium)) {
    width: 85%;
  }

  @media (min-width: getBreakpoint(large)) {
  }

  @media (min-width: getBreakpoint(xLarge)) {
  }

  @media (min-width: getBreakpoint(xxLarge)) {
  }
}

.about-page-wrapper,
.confirmation-page-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: getColor(background);

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(containerMedium);
  }

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(containerLarge);

    @include content-border(5px);
  }

  @media (min-width: getBreakpoint(xLarge)) {
    width: getWidth(containerxLarge);
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    width: getWidth(containerXxLarge);
  }
}

.confirmation-page-wrapper {
  padding-top: 0;

  @include content-border(5px);
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: getBreakpoint(xxLarge)) {
    flex-direction: row;
    margin: 0 auto;
    width: 85%;
  }
}

.add,
.edit {
  margin: 0 auto;
  width: getWidth(containerSmall);
  background-color: getColor(background);

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(containerMedium);
    @include content-border(5px);
  }

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(containerLarge);
  }

  @media (min-width: getBreakpoint(xLarge)) {
    width: getWidth(containerxLarge);
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    width: getWidth(containerXxLarge);
  }

  &__container {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}

.add__container,
.edit__container {
  margin: 0 auto;
  padding-top: 1.5rem;
  width: getWidth(formDefault);

  @media (min-width: getBreakpoint(small)) {
    width: getWidth(formSmall);
  }

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(formMedium);
  }

  @media (min-width: getBreakpoint(large)) {
    padding-top: 2rem;
    width: getWidth(formLarge);
  }

  @media (min-width: getBreakpoint(xLarge)) {
    width: getWidth(formxLarge);
  }

  @media (min-width: getBreakpoint(xxLarge)) {
    width: getWidth(formXxLarge);
  }
}

.details {
  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
      width: 95%;
      margin: 0 auto;
      gap: 2rem;
    }

    @media (min-width: getBreakpoint(xLarge)) {
      width: 90%;
    }

    @media (min-width: getBreakpoint(xLarge)) {
      width: 85%;
    }

    @media (min-width: getBreakpoint(xLarge)) {
      width: 80%;
    }
  }
}

// .newsletter__container {
//   background-color: #000000bf;
//   padding-top: 2rem;
//   padding-bottom: 2rem;

//   @media (min-width: getBreakpoint(medium)) {
//     width: getWidth(newsletterMedium);
//     margin: 0 auto;
//   }

//   @media (min-width: getBreakpoint(large)) {
//     width: getWidth(newsletterLarge);
//   }

//   @media (min-width: getBreakpoint(xLarge)) {
//     width: getWidth(newsletterxLarge);
//   }

//   @media (min-width: getBreakpoint(xxLarge)) {
//     width: getWidth(newsletterXxLarge);
//   }
// }

.contact__sub-wrapper {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}
