.base-container {
  width: getWidth(baseSmallScreen);
  margin: 0 auto;

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(baseLargeScreen);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(baseXlargeScreen);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(baseXxlargeScreen);
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @extend .base-container;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
    align-items: center;
  }
}

.footer__container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;

  @extend .base-container;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
  }
}

.news {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  @extend .base-container;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
    justify-content: center;
  }
}

.details-container {
  width: 95%;
  margin: 0 auto;

  @media (min-width: getBreakpoint(large)) {
    width: 95%;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: 90%;
  }
}

.basket {
  width: getWidth(basketSmall);
  margin: 0 auto;

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(basketMedium);
  }

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(basketLarge);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(basketXLarge);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(basketXxLarge);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: getBreakpoint(xlarge)) {
      gap: 4rem;
    }

    @media (min-width: getBreakpoint(xxlarge)) {
      gap: 6rem;
    }
  }
}

.featured {
  padding-top: 50px;
}

.grid-wrapper {
  width: getWidth(gridSmall);
  margin: 0 auto;

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(gridMedium);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(gridXLarge);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(gridXxLarge);
  }
}

.featured__grid {
  width: getWidth(gridSmall);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  justify-items: center;
  gap: 32px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  //   background-color: pink;

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(gridMedium);
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(gridXLarge);
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(gridXxLarge);
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
  }
}

.products__grid {
  width: getWidth(gridSmall);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  justify-items: center;
  gap: 32px;
  //   background-color: pink;

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(gridMedium);
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(gridXLarge);
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(gridXxLarge);
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
  }
}

///about page
.about,
.faq,
.contact,
.location {
  margin: 0 auto;
  width: 90%;

  @media (min-width: getBreakpoint(medium)) {
    width: 85%;
  }

  @media (min-width: getBreakpoint(large)) {
  }

  @media (min-width: getBreakpoint(xlarge)) {
  }

  @media (min-width: getBreakpoint(xxlarge)) {
  }
}

.about-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: getColor(primary);

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(formMedium);
  }

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(formLarge);

    @include content-border(5px);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(formXLarge);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(formXxLarge);
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: getBreakpoint(xxlarge)) {
    flex-direction: row;
    margin: 0 auto;
    width: 85%;
  }
}

.add,
.edit {
  margin: 0 auto;
  width: getWidth(formSmall);
  background-color: getColor(primary);

  @media (min-width: getBreakpoint(medium)) {
    width: getWidth(formMedium);
    @include content-border(5px);
  }

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(formLarge);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(formXLarge);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(formXxLarge);
  }

  &__container {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}

.details {
  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
      width: 95%;
      margin: 0 auto;
      gap: 2rem;
    }

    @media (min-width: getBreakpoint(xlarge)) {
      width: 90%;
    }

    @media (min-width: getBreakpoint(xlarge)) {
      width: 85%;
    }

    @media (min-width: getBreakpoint(xlarge)) {
      width: 80%;
    }
  }
}

.newsletter__container {
  background-color: #000000bf;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (min-width: getBreakpoint(medium)) {
      width: getWidth(newsletterMedium);
      margin: 0 auto;
    }

    @media (min-width: getBreakpoint(large)) {
      width: getWidth(newsletterLarge);
    }

    @media (min-width: getBreakpoint(xlarge)) {
      width: getWidth(newsletterXLarge);
    }

    @media (min-width: getBreakpoint(xxlarge)) {
      width: getWidth(newsletterXxLarge);
    }
}
