.mobile-menu {
  display: none;

  @media (min-width: getBreakpoint(large)) {
    display: none !important;
  }

  &__list {
    margin-top: 1rem;
    margin-left: getWidth(paddingSmallScreen);
  }

  &__item {
    font-family: $button-text;
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    // &:nth-child(4) {
    //   padding: 0;
    // }

    // &:nth-child(5) {
    //   padding: 0;
    // }
  }

  &__toggle {
    margin-left: 0;

    @media (min-width: getBreakpoint(large)) {
      display: none !important;
    }
  }
}
