.modal {
  display: none;
  position: fixed;
  padding-top: 8rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000bf;
  cursor: pointer;
  z-index: 9999999;

  @media (min-width: getBreakpoint(medium)) {
    padding-top: 3rem;
  }
}

.modal__content {
  position: relative;
  margin: auto;
  display: block;
  width: 95%;
  height: auto;
  max-width: 1080px;
  max-height: 864px;
  z-index: 100;
  cursor: default;
}

.modal__content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal__content img {
  width: 100%;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.newsletter {
  margin-top: 150px;
  position: relative;

  &__modal {
    width: 95%;
    max-width: 500px;
    display: none;
    position: fixed;
    background-image: url("../images/asphalt-pattern.jpg");
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
    border-radius: 3px;
    // border: 2px solid #ffffff40;
    animation-name: animate-opacity;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;

    @include dropShadow(12px, 12px);
  }

  &__container {
    background-color: #000000b3;
    color: getColor(primary);
    padding: 3rem 2rem;
    border-radius: 3px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
