header {
  margin: 0;
  color: getColor(primary);
}

.banner {
  position: relative;
  background-color: getColor(secondary);
  margin: 0;
  text-align: center;
  padding: 0.625rem;
  z-index: 999;

  &__list {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;

    @extend .base-list;

    @media (min-width: getBreakpoint(large)) {
      flex-direction: row;
      font-size: 1rem;
    }
  }

  &__item {
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;

    &--inactive {
      display: none;

      @media (min-width: getBreakpoint(large)) {
        display: block;
      }
    }
  }
}

.nav {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1)  0%,
    rgba(250, 250, 250, 1)  50%,
    rgba(230, 230, 230, 1) 100%
  );
  background: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 999;
  position: relative;
  
  @include dropShadow(6px, 12px);

  &__links-wrapper {
    display: flex;
    align-items: center;
  }

  &__links-list {
    @extend .base-list;
    display: none;
    font-family: $body-text;
    font-size: 1.25rem;

    @media (min-width: getBreakpoint(large)) {
      display: flex;
    }
  }

  &__link {
    margin-right: 2rem;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    color: getColor(secondary);
    // background-color: pink;

    &--active {
      font-weight: bold;
      color: getColor(dark);
    }
  }

  &__link:hover {
    border-bottom: 3px solid getColor(accent);
    // background-color: pink;
  }

  &__icons-wrapper {
    display: flex;
    align-items: center;
  }

  &__icons-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;

    @extend .base-list;

    @media (min-width: getBreakpoint(large)) {
      justify-content: space-between;
    }
  }
}

.confirmation__head {
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  // background: linear-gradient(
  //   180deg,
  //   rgba(255, 255, 255, 1)  0%,
  //   rgba(250, 250, 250, 1)  50%,
  //   rgba(230, 230, 230, 1) 100%
  // );
  background: getColor(primary);
}
