.newsletter {
  margin-top: 150px;
  position: relative;

  &__modal {
    width: 95%;
    max-width: 500px;
    display: none;
    position: absolute;
    background-image: url("../images/asphalt-pattern.jpg");
    background-size: cover;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1010;
    animation-name: animate-opacity;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;

    @include dropShadow(12px, 12px);
  }

  &__container {
    background-color: #000000b3;
    color: getColor(primary);
    padding: 2rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
