.newsletter {
  background-image: url("../images/asphalt-pattern.jpg");
  background-size: cover;
  color: getColor(primary);
  margin-top: 50px;
  margin-bottom: 50px;

  &__container {
    background-color: #000000bf;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (min-width: getBreakpoint(medium)) {
      width: 85%;
      margin: 0 auto;
    }

    @media (min-width: getBreakpoint(large)) {
      width: 70%;
    }

    @media (min-width: getBreakpoint(xlarge)) {
      width: 50%;
    }

    @media (min-width: getBreakpoint(xxlarge)) {
      width: 40%;
    }
  }

  &__wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: getBreakpoint(small)) {
      width: 70%;
    }
  }

  &__success {
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    color: getColor(success);
    transition: all 0.5s;
  }
}
