.news {
  display: flex;
  flex-direction: column;
  border-radius: 3px;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
    justify-content: center;
  }

  &__block1 {
    display: flex;
    background-color: getColor(primary);
    color: black;
    order: 2;
    position: relative;
    flex: 1;
    border-radius: 0 0 3px 3px;

    @media (min-width: getBreakpoint(large)) {
      padding: 1rem;
      border-radius: 3px 0 0 3px;
    }

    // @media (min-width: getBreakpoint(large)) {
    //   background: radial-gradient(
    //     circle,
    //     rgba(88, 79, 79, 1) 0%,
    //     rgba(0, 0, 0, 1) 100%
    //   );
    //   color: getColor(primary);
    // }
  }

  &__block2 {
    order: 1;
    border-radius: 3px 3px 0 0;

    & img {
      border-radius: 3px 3px 0 0;
    }

    @media (min-width: getBreakpoint(large)) {
      order: 2;
      flex: 1;
      border-radius: 0 3px 3px 0;

      & img {
        border-radius: 0 3px 3px 0;
      }
    }
  }

  &__content-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;

    @media (min-width: getBreakpoint(large)) {
      padding: 0;
      
    }

    @media (min-width: getBreakpoint(xLarge)) {
      width: 85%;
    }
  }
}
