.slider__wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto 2rem auto;
}

.slider__container {
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: all 0.3s;
  gap: 0.5rem;
  position: relative;

  @media (min-width: getBreakpoint(medium)) {
    width: 200%;
  }

  &__controls {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
  }

  &__loader {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

#left,
#right {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

#left:hover,
#right:hover {
  @media (min-width: getBreakpoint(large)) {
    opacity: 1;
  }
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: #ffffff;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.75;
  }

  &__image-container {
    width: 100%;
  }

  &__image-container img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;

    @media (min-width: getBreakpoint(large)) {
      padding: 1rem 2rem;
    }
  }

  &__title {
    font-family: $primary-headings;
  }
}

.slide__title,
.slide__price {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  font-weight: 500;

  @media (min-width: getBreakpoint(medium)) {
    font-size: 1.25rem;
  }
}

.indicator-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.indicator {
  height: 0.15rem;
  width: 100%;
  background-color: transparent;
}

#indicator-4 {
  @media (min-width: getBreakpoint(medium)) {
    display: none;
  }
}

.selected {
  background-color: black;
  opacity: 0.5;
}
