strong {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.hero {
  &__heading-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @media (min-width: getBreakpoint(large)) {
      // flex-direction: row;
      // align-items: baseline;
    }
  }

  &__heading {
    font-family: $hero-headings;
    font-size: getFontSize(heroHeadingSmall);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;

    @media (min-width: getBreakpoint(large)) {
      font-size: getFontSize(heroHeadingLarge);
    }
  }

  &__heading-secondary {
    font-family: $hero-headings;
    font-size: 1.375rem;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    font-style: oblique;
    font-weight: 400;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.75rem;
    }
  }

  &__tagline {
    font-family: $secondary-headings;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.375rem;
    }
  }
}

.featured__heading {
  font-family: $primary-headings;
  font-size: getFontSize(mainSubHeadingSmall);
  font-weight: 400;
  margin-bottom: 0.5rem;

  @media (min-width: getBreakpoint(large)) {
    font-size: getFontSize(mainSubHeadingLarge);
  }
}

.products__heading,
.add__heading,
.edit__heading,
.about__heading,
.basket__heading {
  font-family: $primary-headings;
  font-size: getFontSize(mainHeadingSmall);
  font-weight: 400;
  margin: 0;
  padding: 0;

  @media (min-width: getBreakpoint(large)) {
    font-size: getFontSize(mainHeadingLarge);
  }
}

.add__list,
.edit__list {
  margin: 0;
  padding-left: 1.5rem;
}

.edit__list-text,
.add__list-text {
  font-size: 1.125rem;
  margin: 0;
  padding: 0.25rem 0;
}

.basket__title {
  font-size: 1rem;
  margin: 0 0 0.25rem 0;
  padding: 0;

  @media (min-width: getBreakpoint(small)) {
    font-size: 1.125rem;
  }
}

.summary__heading {
  margin: 0;
}

.summary__message {
  color: getColor(accent)
}

.card__title,
.card__price {
  font-size: 1.125rem;
  font-family: $primary-headings;
  margin: 0;
  padding: 0;
}

.card__text {
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 300;
  margin: 0;
  padding: 0.5rem 0 0 0;
}

.card__icon-container {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: getColor(border);
  position: relative;
}

.news {
  &__header {
    font-family: $primary-headings;
    font-size: 1.375rem;
    font-weight: 400;
    margin: 0;
    padding: 0;

    @media (min-width: getBreakpoint(medium)) {
      font-size: 1.75rem;
    }
  }

  &__text {
    font-family: $secondary-headings;
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;

    @media (min-width: getBreakpoint(medium)) {
      font-size: 1.125rem;
    }
  }
}

.newsletter {
  &__heading {
    font-family: $primary-headings;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0;
    margin: 0;

    @media (min-width: getBreakpoint(medium)) {
      font-size: 1.5rem;
    }
  }

  &__description {
    font-size: 1rem;
    font-family: $secondary-headings;
    padding: 0.5rem 0 1.5rem 0;
    margin: 0;

    @media (min-width: getBreakpoint(medium)) {
      font-size: 1.125rem;
    }
  }
}

.details {
  &__title {
    font-family: $primary-headings;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    order: 2;
    margin-right: 0.5rem;

    @media (min-width: getBreakpoint(small)) {
      order: 1;
    }

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.75rem;
    }
  }

  &__price {
    font-family: $primary-headings;
    font-size: 1.375rem;
    margin: 0;
    padding: 0;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.5rem;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: 100px;

    @media (min-width: getBreakpoint(large)) {
      width: auto;
    }
  }

  &__stock-label {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  &__value {
    margin: 0;
  }

  &__sub-heading {
    font-family: $primary-headings;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 0 0 0.5rem 0;
  }

  &__text {
    margin-top: 0;
    padding: 0;
    display: none;

    @media (min-width: getBreakpoint(large)) {
      display: block;
    }
  }
}

//about page
.about {
  &__heading-group {
    display: flex;
    flex-direction: column;
  }

  &__sub-heading {
    font-size: 1.125rem;
    margin: 0;
    font-family: $secondary-headings;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.375rem;
    }
  }

  &__card-quote {
    margin: 0;
    font-family: $secondary-headings;
    font-style: italic;
    max-width: 400px;
    font-size: 1.125rem;
  }
}

.contact__heading,
.faq__heading,
.returns__heading,
.sizes__heading {
  font-family: $primary-headings;
  font-size: getFontSize(mainSubHeadingSmall);
  font-weight: 400;
  margin: 0;
  padding: 0;

  @media (min-width: getBreakpoint(large)) {
    font-size: getFontSize(mainSubHeadingLarge);
  }
}

.contact__sub-heading {
  font-size: 1.125rem;
  margin: 0;
  padding-bottom: 0.35rem;
}

.contact__paragraph {
  margin: 0;
  padding: 0;

  &--bold {
    font-family: $secondary-headings;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0.25rem 0;
  }
}

.contact__heading,
.faq__heading,
.returns__heading,
.sizes__heading {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;

  @media (min-width: getBreakpoint(large)) {
    font-size: 1.875rem;
  }
}

// footer
.footer__header {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 1rem 0;
}

.footer__icon {
  font-size: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}

label {
  color: getColor(dark);
}

.admin__heading {
  color: getColor(dark);
  font-family: $primary-headings;
  font-size: 1.875rem;
  margin: 0;
  padding: 0;
}

.add__radio-heading,
.edit__radio-heading,
.add__list-heading,
.edit__list-heading {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  border-radius: 5px;
  font-weight: bold;
}

#item-count {
  font-size: 1.5rem;
}

.button-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-style: italic;
  color: getColor(success);
}
