hgroup {
  margin: 0;
  padding: 0;
}

// strong {
//   text-transform: uppercase;
//   font-weight: bold;
// }

.main-heading {
  font-family: $primary-headings;
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: getBreakpoint(medium)) {
    font-size: 6rem;
    line-height: 1.2;
  }

  &__support {
    font-family: $body-text;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    font-style: oblique;
    font-weight: 300;

    @media (min-width: getBreakpoint(large)) {
      font-size: 2rem;
    }
  }

  &__secondary {
    font-family: $secondary-headings;
    font-size: 1.125rem;
    font-weight: 400;
    padding-bottom: 1rem;

    @media (min-width: getBreakpoint(large)) {
      font-size: 1.5rem;
    }
  }
}

.featured__heading {
  font-family: $primary-headings;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.products__heading,
.add__heading,
.edit__heading,
.about__heading,
.contact__heading,
.faq__heading,
.basket__heading {
  font-family: $primary-headings;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.basket__title {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.summary__heading {
  margin: 0;
  padding-bottom: 1rem;
}

.card__title,
.card__price {
  font-size: 1.125rem;
  font-family: $primary-headings;
  margin: 0;
  padding: 0;
}

.card__text {
  font-weight: 300;
  margin: 0;
  padding: 1rem 0 0 0;
}

svg {
  width: 40px;
  height: 40px;

  path {
    fill: black;
  }
}

.checkmark {
  width: 30px;
  height: 30px;

  path {
    fill: getColor(success);
  }
}

.cross {
  width: 30px;
  height: 30px;

  path {
    fill: getColor(error);
  }
}

.newsletter {
  &__heading {
    font-family: $primary-headings;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }

  &__description {
    font-size: 1.125rem;
    font-family: $secondary-headings;
    padding: 0.5rem 0 2rem 0;
    margin: 0;
  }
}

.news {
  &__header {
    font-family: $primary-headings;
    font-size: 1.75rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  &__text {
    font-family: $secondary-headings;
    font-size: 1.125rem;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
  }
}

.main-red-line {
  width: 270px;
  height: 6px;
  background-color: getColor(accent);
  margin-right: 2rem;
}

.details {
  &__title {
    font-family: $primary-headings;
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
    order: 2;

    @media (min-width: getBreakpoint(small)) {
      order: 1;
    }
  }

  &__price {
    font-family: $primary-headings;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  &__label {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: 100px;

    @media (min-width: getBreakpoint(large)) {
      width: auto;
    }
  }

  &__value {
    margin: 0;
  }

  &__sub-heading {
    font-family: $primary-headings;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: underline;
    margin: 0;
    padding: 0 0 0.25rem 0;
  }

  &__text {
    margin-top: 0.5rem;
  }
}

// footer
.footer__header {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 1rem 0;
}

.footer__icon {
  font-size: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}

label {
  color: getColor(dark);
}

.admin__heading {
  color: getColor(dark);
  font-family: $primary-headings;
  font-size: 1.75rem;
  margin: 0;
  padding: 0 0 1rem 0;
}

.add__radio-heading,
.edit__radio-heading {
  margin: 0;
  padding-top: 1rem;
  font-size: 1.25rem;
  border-radius: 5px;
  font-weight: bold;
}

#item-count {
  font-size: 1.5rem;
}

i {
  color: getColor(primary) {

  }
}

//about page
.about-small-heading {
  font-size: 1.125rem;
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.contact__paragraph {
  margin: 0;

  &--bold {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.about__sub-heading {
  margin: 0;
  font-family: $secondary-headings;
}

.contact__heading,
.faq__heading {
  font-size: 1.875rem;
  margin: 0;
  padding: 0;
}

//icons
.nav__icon {
  margin-left: 2rem;
  transition: opacity 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.basket__icon {
  margin-left: 0;
}

.card__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path {
    fill: getColor(dark);
  }
}

.out-of-stock {
  background-color: getColor(error);
  width: 1rem;
  height: 1rem;

  @include content-border(50%);
}

.in-stock {
  background-color: getColor(success);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  @include content-border(50%);
}

.remove-icon {
  cursor: pointer;
}
