$hero-headings: "muli", "proxima-nova", sans-serif;
$primary-headings: "soleil", tahoma, sans-serif;
$secondary-headings: "ff-tisa-web-pro", georgia, serif;
$body-text: "ff-tisa-sans-web-pro", arial, sans-serif;
$button-text: "proxima-nova", verdana, sans-serif;

$colors: (
  primary: #ffffff,
  secondary: #323232,
  accent: #bf1e0f,
  background: #fafafa,
  dark: #000000,
  error: #eb4d32,
  success: #0e6673,
  warning: #f1cc28,
  border: #d9d9d9,
  admin: #0e6673,
  newsletter: #00f6db,
);

@function getColor($color) {
  @return map-get($colors, $color);
}

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xLarge: 1200px,
  xxLarge: 1400px,
  xxxLarge: 1600px,
);

@function getBreakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

$fontSizes: (
  heroHeadingSmall: 3.5rem,
  heroHeadingLarge: 5.5rem,
  mainHeadingSmall: 2rem,
  mainHeadingLarge: 2.5rem,
  secondaryHeadingSmall: 1.5rem,
  secondaryHeadingLarge: 1.875rem,
  mainSubHeadingSmall: 1.875rem,
  mainSubHeadingLarge: 2.25rem,
  buttonSmall: 1.125rem,
  buttonLarge: 1.25rem,
  heroButtonSmall: 1.25rem,
  heroButtonLarge: 1.375rem,
);

@function getFontSize($fontSize) {
  @return map-get($fontSizes, $fontSize);
}

//sets width and height of product cards
$card-width: 300px;
$card-height: 440px;

$widths: (
  //sets padding on mobile dropdown and hero content
  dynamicPadding: 7.5%,
  dynamicPadding2: 10%,
  //sets wrapper width of nav, footer and news
  baseSmallScreen: 85%,
  baseLargeScreen: 90%,
  basexLargeScreen: 80%,
  baseXxLargeScreen: 80%,
  //sets wrapper width of about-, add- and edit-page
  containerSmall: 100%,
  containerMedium: 85%,
  containerLarge: 70%,
  containerxLarge: 65%,
  containerXxLarge: 55%,
  //sets wrapper width of basket
  basketSmall: 95%,
  basketMedium: 80%,
  basketLarge: 95%,
  basketxLarge: 85%,
  basketXxLarge: 75%,
  //sets wrapper width of product card grid
  // gridSmall: 300px,
  // gridMedium: 632px,
  // gridLarge: 632px,
  // gridxLarge: 964px,
  // gridXxLarge: 1296px,
  // newsletterSmall: 100%,
  // newsletterMedium: 85%,
  // newsletterLarge: 70%,
  // newsletterxLarge: 50%,
  // newsletterXxLarge: 40%,
  //sets input container width
  formDefault: 95%,
  formSmall: 85%,
  formMedium: 80%,
  formLarge: 80%,
  formxLarge: 75%,
  formXxLarge: 70%
);

@function getWidth($width) {
  @return map-get($widths, $width);
}

@mixin content-border($radius) {
  border-radius: $radius;
  border: 1px solid #d9d9d9;
}

@mixin dropShadow($offsetY, $blur) {
  box-shadow: 0 $offsetY $blur rgba(0, 0, 0, 0.2);
}
