$primary-headings: "soleil", sans-serif;
$secondary-headings: "ff-tisa-web-pro", serif;
$body-text: "ff-tisa-sans-web-pro", sans-serif;
$button-text: "proxima nova", sans-serif;

$colors: (
  primary: #ffffff,
  secondary: #323232,
  accent: #ea564e,
  background: #fafafa,
  dark: #000000,
  error: #ed553b,
  success: #00f6db,
  warning: #f6d55c,
  border: #bdbdbd,
  admin: #385242,
);

@function getColor($color) {
  @return map-get($colors, $color);
}

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
);

@function getBreakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

//sets container widths
$widths: (
  paddingSmallScreen: 7.5%,
  // paddingLargeScreen: 5%,
  // paddingXLargeScreen: 10%,
  // paddingXxLargeScreen: 15%,
  smallScreen: 85%,
  largeScreen: 90%,
  xlargeScreen: 80%,
  xxlargeScreen: 80%,
  formSmall: 100%,
  formMedium: 85%,
  formLarge: 70%,
  formXLarge: 60%,
  formXxLarge: 55%,
);

@function getWidth($width) {
  @return map-get($widths, $width);
}

@mixin content-border($radius) {
  border-radius: $radius;
  border: 1px solid #bdbdbd;
}

@mixin dropShadow($offsetY, $blur) {
  box-shadow: 0 $offsetY $blur rgba(0, 0, 0, 0.2);
}
